<template>
  <div
    class="tw-rounded-2xl tw-text-secondary tw-bg-white tw-shadow-inner tw-my-4 tw-p-6 tw-px-8 tw-max-w-sm tw-mx-auto tw-h-full"
  >
    <h1 class="tw-text-2xl tw-font-bold tw-uppercase tw-mb-2 tw-mt-9 tw-title">
      {{ cardData.title }}
    </h1>
    <p class="tw-break-words tw-text-md tw-my-7">
      {{ cardData.content }}
    </p>
    <div class="user tw-flex tw-gap-4 tw-mt-5">
      <n-avatar round :size="48" :src="cardData.image" />
      <div class="info tw-flex tw-items-start tw-justify-center tw-flex-col">
        <h3 class="tw-text-base tw-capitalize tw-font-bold">
          {{ cardData.client_name }}
        </h3>
        <h6 class="tw-text-sm tw-capitalize">
          {{ cardData.client_description }}
        </h6>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

const props = defineProps(["cardData"]);
</script>

<style lang="scss" scoped></style>
