<template>
  <section class="testimonials tw-mt-14">
    <h2 class="title title-style tw-uppercase">
      {{ t("website.testimonial") }}
    </h2>
    <div class="tw-relative">
      <bs-container>
        <div class="card-containe tw-relative tw-z-10" style="direction: ltr">
          <Swiper
            :modules="[SwiperAutoplay, SwiperNavigation]"
            :slides-per-view="3"
            :space-between="50"
            :speed="1000"
            :autoplay="{
              delay: 2000,
              disableOnInteraction: false,
            }"
            :navigation="{
              nextEl: '#next-slide',
              prevEl: '#prev-slide',
            }"
            :breakpoints="{
              0: {
                spaceBetween: 30,
                slidesPerView: 1,
              },
              480: {
                spaceBetween: 30,
                slidesPerView: 2,
              },
              767: {
                spaceBetween: 40,
                slidesPerView: 3,
              },
            }"
          >
            <SwiperSlide
              class="swipperlist tw-swiper-wrapper tw-relative tw-rounded-md tw-overflow-hidden"
              v-for="(item, index) in state"
              :key="index"
            >
              <clientCard class="card" :cardData="item" />
            </SwiperSlide>
            <div
              class="swiper-controlll tw-flex tw-items-center tw-gap-2 tw-justify-center tw-mt-6 tw-py-6"
            >
              <div
                id="prev-slide"
                class="tw-cursor-pointer disabled:tw-opacity-80 tw-p-2 tw-flex tw-items-center tw-justify-center"
              >
                <n-icon size="20"><ChevronBack /></n-icon>
              </div>
              <div
                id="next-slide"
                class="tw-cursor-pointer disabled:tw-opacity-80 tw-p-2 tw-flex tw-items-center tw-justify-center"
              >
                <n-icon size="20"><ChevronForward /></n-icon>
              </div>
            </div>
          </Swiper>
        </div>
      </bs-container>
      <div
        class="overlay tw-absolute tw-bottom-0 tw-left-0 tw-right-0 tw-top-[40%] tw-bg-[#eaeaeb]"
      ></div>
    </div>
  </section>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";

// @ts-ignore
import { ChevronForward, ChevronBack } from "@vicons/ionicons5";
// import Swiper core and required modules
// @ts-ignore
import clientCard from "./clientCard.vue";

// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
const { t } = useLangHandler();

const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  title: string;
  content: string;
  client_name: string;
  client_description: string;
  image: string;
}

const client_testimonials: SingleItem[] = props.state;

// @ts-ignore
// import userImg from "~/assets/imgs/landingpage/userimg.jpg";

// const testimonials = [
//   {
//     title: "Testimonial Title",
//     desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
//     username: "Ali abdelbaqy",
//     userTitle: "Frontend developer",
//     img: userImg,
//   },
//   {
//     title: "Testimonial Title",
//     desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
//     username: "Ali abdelbaqy",
//     userTitle: "Frontend developer",
//     img: userImg,
//   },
//   {
//     title: "Testimonial Title",
//     desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
//     username: "Ali abdelbaqy",
//     userTitle: "Frontend developer",
//     img: userImg,
//   },
//   {
//     title: "Testimonial Title",
//     desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
//     username: "Ali abdelbaqy",
//     userTitle: "Frontend developer",
//     img: userImg,
//   },
// ];
</script>

<style scoped></style>
