<template>
  <bs-container
    class="md:tw-justify-start tw-h-fit tw-justify-center tw-text-third tw-relative tw-min-h-screen tw-flex tw-items-center"
  >
    <div
      class="tw-flex tw-ml-16 tw-items-center tw-mt-12 tw-gap-10 md:tw-gap-0 md:tw-items-start tw-flex-col tw-justify-center tw-max-w-5xl tw-relative tw-z-10"
    >
      <h2
        class="title tw-uppercase tw-text-6xl tw-mb-16 tw-text-primary tw-mt-8 md:tw-mt-0 tw-pointer-events-none"
      >
        {{ t("website.caseStudies") }}
      </h2>
      <div class="tw-w-full tw-relative md:tw-hidden" v-if="slider && isMobile">
        <Swiper
          :modules="[SwiperAutoplay, SwiperEffectCoverflow, SwiperNavigation]"
          :slides-per-view="'auto'"
          :effect="'coverflow'"
          :loop="true"
          :speed="800"
          :centered-slides="true"
          :coverflow-effect="{
            rotate: 0, // Slide rotate in degrees
            stretch: 0, // Stretch space between slides (in px)
            depth: 200, // Depth offset in px (slides translate in Z axis)
            modifier: 1, // Effect multipler
            slideShadows: true, // Enables slides
          }"
          :navigation="{
            nextEl: '#next-slide',
            prevEl: '#prev-slide',
          }"
          @active-index-change="getActiveIndex"
          class="tw-w-full tw-absolute tw-right-0 tw-left-0 tw-bottom-0 tw-top-0 tw-my-4 tw-mx-auto"
        >
          <SwiperSlide
            class="swipperlist swiper-wrapper tw-relative tw-rounded-md tw-overflow-hidden"
            v-for="(slide, index) in state"
            :key="index"
          >
            <div
              class="tw-text-5xl tw-items-start tw-flex tw-flex-col tw-justify-between tw-min-h-[500px] tw-w-full tw-z-10 tw-relative"
            >
              <div class="title tw-p-4">0{{ index + 1 }}</div>
              <div class="title tw-p-4">{{ slide.title }}</div>
            </div>
            <div
              class="tw-w-full tw-h-full tw-overflow-hidden tw-absolute tw-top-0 tw-left-0 tw-right-0 tw-bottom-0"
            >
              <img
                :src="slide.image"
                class="tw-object-cover tw-h-full tw-w-full tw-transition-all hover:tw-opacity-100"
                style="filter: brightness(0.9) blur(0.5px)"
              />
            </div>
          </SwiperSlide>
        </Swiper>
      </div>
      <h4
        class="tw-uppercase tw-font-bold tw-w-[60%] tw-text-3xl tw-pb-8 tw-title tw-pointer-events-none"
      >
        {{ title }}
      </h4>
      <p class="tw-opacity-70 tw-w-[50%] tw-pointer-events-none">
        {{ description }}
      </p>
      <!-- <p
        class="tw-uppercase  tw-w-1/2 tw-h-1/4   tw-text-2xl tw-pb-16 tw-title tw-pointer-events-none"
        v-html="body"
      ></p> -->

      <div
        class="swiper-controlll tw-hidden md:tw-flex tw-items-center tw-gap-2 tw-justify-center tw-py-6"
      >
        <div
          id="prev-slide"
          class="tw-p-2 tw-rounded-full tw-shadow-xlg tw-cursor-pointer hover:tw-text-primary disabled:tw-opacity-80"
        >
          <n-icon size="45" color="inherit"><ChevronBack /></n-icon>
        </div>
        <div
          id="next-slide"
          class="tw-p-2 tw-rounded-full tw-shadow-xlg tw-cursor-pointer hover:tw-text-primary disabled:tw-opacity-80"
        >
          <n-icon size="45" color="inherit"><ChevronForward /></n-icon>
        </div>
      </div>

      <nuxt-link :to="navs.route">
        <div class="tw-my-4">
          <BaseButton
            color="primary"
            variant="fill"
            :borderWidth="1"
            class="tw-min-w-[290px]"
          >
            <div
              class="text tw-flex tw-items-center tw-justify-center tw-py-3 tw-gap-3 tw-text-xl"
            >
              <span class="tw-font-bold">
                {{ t("website.btns.explore") }}
              </span>
              <div class="icon" style="transform: rotate(-45deg)">
                <n-icon
                  :component="ArrowForwardOutline"
                  color="inherit"
                  size="17"
                />
              </div>
            </div>
          </BaseButton>
        </div>
      </nuxt-link>

      <div
        class="swiper-controlll md:tw-hidden tw-flex tw-items-center tw-gap-2 tw-justify-center tw-py-6"
      >
        <div
          id="prev-slide"
          class="tw-px-2 tw-rounded-full tw-shadow-xlg tw-cursor-pointer hover:tw-text-primary disabled:tw-opacity-80"
        >
          <n-icon size="30" color="inherit"><ChevronBack /></n-icon>
        </div>
        <div
          id="next-slide"
          class="tw-px-2 tw-rounded-full tw-shadow-xlg tw-cursor-pointer hover:tw-text-primary disabled:tw-opacity-80"
        >
          <n-icon size="30" color="inherit"><ChevronForward /></n-icon>
        </div>
      </div>
    </div>
    <div
      class="carousel-over tw-top-0 tw-left-0 tw-right-0 tw-bottom-0 tw-w-full tw-h-full tw-hidden md:tw-flex tw-items-center"
      v-if="slider && !isMobile"
    >
      <Swiper
        :modules="[SwiperAutoplay, SwiperEffectCoverflow, SwiperNavigation]"
        :slides-per-view="'auto'"
        :effect="'coverflow'"
        :centered-slides="true"
        :coverflow-effect="{
          rotate: 0,
          stretch: 100,
          depth: 150,
          modifier: 1.5,
          slideShadows: true,
        }"
        :navigation="{
          nextEl: '#next-slide',
          prevEl: '#prev-slide',
        }"
        @active-index-change="getActiveIndex"
      >
        <SwiperSlide
          class="swipperlist swiper-wrapper tw-relative tw-rounded-md tw-overflow-hidden"
          v-for="(slide, index) in state"
          :key="index"
        >
          <div
            class="tw-text-5xl tw-items-start tw-flex tw-flex-col tw-justify-between tw-min-h-[500px] tw-w-[100px] tw-z-10 tw-relative"
          >
            <div class="title tw-p-4">0{{ index + 1 }}</div>
            <div class="title tw-p-4">{{ slide.title }}</div>
          </div>
          <div
            class="tw-w-full tw-h-full tw-overflow-hidden tw-absolute tw-top-0 tw-left-0 tw-right-0 tw-bottom-0"
          >
            <img
              :src="slide.image"
              class="tw-object-cover tw-h-full tw-w-full tw-transition-all tw-opacity-80 hover:tw-opacity-100"
              style="filter: brightness(0.9) blur(0.5px)"
            />
          </div>
        </SwiperSlide>
      </Swiper>
    </div>
  </bs-container>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";

import useLangHandler from "~~/composables/layout/useLangHandler";
// import caseImg from "~/assets/imgs/landingpage/caseStudies.jpg";
import {
  ChevronForward,
  ChevronBack,
  ArrowForwardOutline,
} from "@vicons/ionicons5";

// const randomNumber = (min, max) => {
//   return Math.floor(Math.random() * max) + min;
// };
const { t } = useLangHandler();

const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  title: string;
  body: string;
  description: any;
  image: string;
}
const navs = 
  {
    route: "/case-studies",
    title: t("website.toolbar.caseStudies"),
  }
;

const case_studies: SingleItem[] = props.state;

const slider = ref(false);
const activeSlide = ref(0);

const getActiveIndex = (e: any) => {
  activeSlide.value = e.realIndex;
  console.log(activeSlide.value);
};
const isMobile = ref(false);

const title = computed(() => {
  return props.state[activeSlide.value] && props.state[activeSlide.value].title;
});
const description = computed(() => {
  return (
    props.state[activeSlide.value] && props.state[activeSlide.value].description
  );
});
onMounted(() => {
  slider.value = true;
  isMobile.value = window.innerWidth < 768;

  window.addEventListener("resize", () => {
    isMobile.value = window.innerWidth < 768;
  });
});
</script>

<style lang="scss">
.swiper-button-disabled {
  cursor: no-drop;
  opacity: 0.5 !important;
}
.star-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: moveStars linear infinite;
    backdrop-filter: blur(1px);
    opacity: 0.4;
  }
  .type-1 {
    width: 1px;
    height: 1px;
  }
  .type-2 {
    width: 2px;
    height: 2px;
  }

  .type-3 {
    width: 3px;
    height: 3px;
  }
}
.carousel-over {
  position: absolute;
  left: 50%;
  max-width: 300px;
  .swiper-slide {
    filter: blur(3px) brightness(0.6);
  }
  .swiper {
    overflow: unset !important;
  }
  .swiper-slide-active {
    filter: blur(0px) brightness(1);
    img {
      opacity: 1 !important;
    }
  }
}
@keyframes moveStars {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-150px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}
</style>
