<template>
  <Faqs  :faqs="state" />
</template>

<script setup lang="ts">
import Faqs from "~/components/website/shared/FAQs.vue";
interface Props {
  state: SFaqs[]
}
const props = defineProps<Props>();

interface SFaqs {
  id: number;
  question: string;
  answer: string;
}

// const faqs: SingleItem[] = props.state;
</script>
