<template>
  <IndexHero />
  <sponser :state="state.sponsers" />
  <MatrixIndex :state="state.metrics" class="tw-mx-20" />
  <Feature :state="state.features" />
  <ClientTestimonials :state="state.client_testimonials.items"  />
  <plans />
  <div class="tw-bg-accent tw-mt-4 tw-py-4">
    <CaseStudies  :state="state.case_studies" />
    <div class="tw-bg-bg tw-rounded-t-[2rem] tw-pt-7">
      <FAQ :state="state.faqs" />
      <JoinUs />
    </div>
  </div>
</template>

<script setup>
import IndexHero from "~~/components/website/landingpage/hero/IndexHero.vue";
import MatrixIndex from "~/components/website/landingpage/matrix/index.vue";
import Feature from "~/components/website/landingpage/feature/index.vue";
import ClientTestimonials from "~/components/website/landingpage/testimonial/index.vue";
import plans from "~/components/website/landingpage/plans/index.vue";
import CaseStudies from "~/components/website/landingpage/caseStudies";
import FAQ from "~/components/website/landingpage/FAQs";
import JoinUs from "~~/components/website/landingpage/joinUs.vue";
import sponser from "./sponsers/index.vue";
import useHomeHandler from "~~/composables/website/useHomeHandler";
const { state } = useHomeHandler();

onMounted(() => {
  console.log(state.case_studies)
})
</script>
