<template>
  <section class="tw-relative tw-mt-8">
    <div class="tw-bg-primary tw-py-20 tw-rounded-3xl tw-relative tw-z-10">
      <bs-container>
        <div
          class="tw-flex tw-flex-col tw-gap-4 md:tw-flex-row md:tw-gap-1 tw-items-center tw-flex-wrap tw-text-secondary tw-justify-center md:tw-justify-start"
        >
          <div
            class="tw-my-4 tw-flex-1 md:tw-m-0 tw-text-center md:tw-text-start"
          >
            <h2 class="tw-text-6xl md:tw-text-9xl tw-mb-3 tw-uppercase title">
              {{ t("website.joinus") }}
            </h2>
            <h4
              class="tw-text-2xl md:tw-text-3xl tw-opacity-70 tw-w-full md:tw-max-w-4xl"
            >
             {{ state.setting.join_us_text }}
            </h4>
          </div>
          <div>
            <BaseButton
              color="secondary"
              variant="fill"
              :borderWidth="3"
              @click="openModal('register')"
              class="tw-min-w-[320px] "
            >
              <div
                class="text tw-flex tw-items-center tw-justify-center tw-py-6 tw-gap-5 tw-text-2xl"
              >
                <span> {{ t("website.btns.getStarted") }} </span>
                <div class="icon" style="transform: rotate(-45deg)">
                  <n-icon
                    :component="ArrowForwardOutline"
                    color="inherit"
                    size="15"
                  />
                </div>
              </div>
            </BaseButton>
          </div>
        </div>
      </bs-container>
    </div>

    <div
      class="tw-bg-accent tw-absolute tw-bottom-0 tw-left-0 tw-right-0 tw-w-full tw-h-[50%]"
    ></div>
  </section>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";

import BaseButton from "~~/components/global/BaseButton.vue";
// @ts-ignore
import { ArrowForwardOutline } from "@vicons/ionicons5";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
import useAuthHandler from "~~/composables/authHandler";

import useHomeHandler from "~~/composables/website/useHomeHandler";
const { state } = useHomeHandler();



interface SingleItem {
  join_us_text: string;
}

const { openModal } = useAuthHandler();
const { t } = useLangHandler();
</script>

<style scoped></style>
