<template>
  <div class="card tw-w-full tw-shadow-lg tw-py-14  tw-h-full">
       <h1
      class="tw-text-center   tw-font-bold tw-text-4xl tw-text-secondary tw-mb-4 tw-capitalize"
    >
      {{ cardData.value }} K+
    </h1>

    <h5
      class=" title tw-text-center  tw-font-thin  tw-my-2 tw-text-secondary tw-mb-5 "
    >
      {{ cardData.name }}
    </h5>

  </div>
</template>

<script setup>
defineProps(["cardData"]);
</script>

<style lang="scss" scoped>
.card {
  border-bottom: 4px solid var(--primary);
}
</style>
