<template>
  <section class="tw-py-24" ref="section">
    <h2 class="title title-style tw-uppercase " ref="title">{{ t("website.materix") }}</h2>
    <bs-container>
      <n-grid cols="1 400:2 600:4" class="!tw-gap-8">
     
        <n-grid-item v-for="(item, i) in state" :key="i" ref="cards">
         

          <matrixCard :cardData="item" />
        </n-grid-item>
      </n-grid>
    </bs-container>
  </section>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";

const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  name: string;
  value: string;
}

const metrics: SingleItem[] = props.state;

// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
// @ts-ignore
import matrixCard from "./card.vue";
const { t } = useLangHandler();
// const items = [
//   {
//     title: "Total coaches",
//     count: "10",
//   },
//   {
//     title: "total client",
//     count: "931",
//   },
//   {
//     title: "workout Delevierd",
//     count: "240",
//   },
//   {
//     title: "Deits  Delivered",
//     count: "12",
//   },
// ];
const { $gsap } = useNuxtApp();
const title = ref(null);
const cards = ref(null);
const section = ref(null);
const initAnimation = () => {
  // $gsap.registerPlugin(ScrollTrigger);
  const tl = $gsap.timeline({
    defaults: { duration: 1 },
    scrollTrigger: {
      scrub: 3,

      trigger: section.value,
      markers: false,
      toggleActions: "play none none none",
      start: "top bottom",
      end: "bottom bottom",
    },
  });

  $gsap.set(title.value, { autoAlpha: 0, yPercent: 30 });
  $gsap.set($gsap.utils.toArray(".card"), {
    opacity: 0,
    autoAlpha: 0,
    yPercent: 30,
  });

  tl.to(title.value, { opacity: 1, autoAlpha: 1, yPercent: 0 }, "+=2");
  tl.to(
    $gsap.utils.toArray(".card"),
    {
      opacity: 1,
      autoAlpha: 1,
      stagger: 0.5,
      yPercent: 0,
      duration: 1,
      ease: "power3",
    },
    "+=1"
  );
};
onMounted(() => {
  // <!-- initAnimation(); -->
});
</script>

<style lang="scss" scoped></style>
