<template>
  <section class="header tw-min-h-[30vh] tw-mb-14 tw-flex tw-items-center tw-justify-center tw-bg-accent">
    <h2 class="tw-mt-16 tw-text-5xl title tw-text-third tw-uppercase">CASE STUDIES</h2>
  </section>
</template>

<script setup></script>

<style lang="scss" scoped>
.header {
  background-image: url("~/assets/imgs/blogs/blog_header.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
</style>
