<template>
  <Header />
  <CasePagination class="tw-mx-8" />
</template>

<script setup lang="ts">
import Header from "./header.vue";
// @ts-ignore
import CasePagination from "./pagination.vue";

import useCase from "~~/composables/website/useCase";

const { fetchData } = useCase();

if (process.client) {
  fetchData();
}
</script>
