<template>
  <section class="tw-bg-third blogs-container">
    <BaseContainer class="blogs tw-mt-6">
      <div class="tw-flex">
        <n-grid cols="1 400:2 600:3" class="!tw-gap-2">
          <template v-if="!state.loading">
            <n-grid-item v-for="(item, i) in state.data" :key="i">
              <nuxt-Link
                :to="{
                  name: 'case-studies-id',
                  params: { id: item.id },
                }"
                class="!tw-text-secondary"
              >
                <caseCard :cardData="item" :isBlog="false" />
              </nuxt-Link>
            </n-grid-item>
          </template>
          <template v-else>
            <n-grid-item v-for="(item, i) in 8" :key="i">
              <n-card>
                <n-skeleton height="200px" width="100%" />
                <n-skeleton text :repeat="2" />
                <n-skeleton text style="width: 60%" />
              </n-card>
            </n-grid-item>
          </template>
        </n-grid>
      </div>
      <div
        class="footer tw-flex tw-flex-wrap tw-items-center tw-justify-center tw-gap-4 md:tw-justify-between md:tw-gap-0"
      >
        <div
          class="info tw-opacity-60 tw-transition-all hover:tw-opacity-100 tw-text-base"
        >
          More than {{ pagination.total }} article ...
          <span class="tw-capitalize tw-underline tw-cursor-pointer"
            >load more</span
          >
        </div>
        <n-pagination
          v-model:page="current_page"
          :item-count="pagination.total"
          :theme-overrides="theme()"
        />
      </div>
    </BaseContainer>
  </section>
</template>

<script setup>
import caseCard from "~/components/website/shared/blogCase.card.vue";
import BaseContainer from "~~/components/global/BaseContainer.vue";
import useCase from "~~/composables/website/useCase";

const { state, pagination, current_page, fetchData } = useCase();

const theme = () => {
  const colorOne = "#000";
  const colorTwo = "#fff000";
  const colorThree = "#F0F0F0";
  const themeOverrides = {
    buttonColor: "transparent",
    buttonColorHover: "transparent",
    buttonColorPressed: colorThree,
    buttonBorder: "none",
    buttonBorderHover: "none",
    buttonBorderPressed: "none",
    buttonIconColor: colorOne,
    buttonIconColorHover: colorTwo,
    buttonIconColorPressed: colorThree,
    itemTextColor: colorOne,
    itemTextColorHover: colorOne,
    itemTextColorActive: colorOne,
    itemColor: colorThree,
    itemColorHover: colorTwo,
    itemColorActive: colorTwo,
    itemColorActiveHover: colorTwo,
    itemBorder: "none",
    itemBorderHover: "none",
    itemBorderPressed: "none",
    itemBorderDisabled: "none",
    itemBorderRadius: "20px",
    itemPaddingMedium: "0.5rem 1rem",
  };
  return themeOverrides;
};
watch(current_page, (newVal) => {
  fetchData();
});
</script>

<style lang="scss" scoped>
.footer {
  border-top: 1px solid #ccc;
  padding: 1.6rem 0rem;
  margin-top: 2rem;
}
</style>
