<template>
  <div class="tw-bg-third">
    <BaseContainer class="tw-mt-[8rem]">
      <template v-if="state.singleCase.loading">
        <n-space vertical>
          <n-skeleton height="40px" width="33%" />
          <n-skeleton height="400px" width="100%" :sharp="false" />
          <div v-for="item in 4" :key="item" class="mt-2">
            <n-skeleton text :repeat="2" />
            <n-skeleton text style="width: 60%" />
          </div>
        </n-space>
      </template>
      <h2
        v-else-if="!state.singleCase.loading && state.singleCase.error !== null"
      >
        error
      </h2>
      <template v-else>
        <div class="tw-text-secondary">
          <h2
            class="tw-text-base tw-opacity-60 tw-text-lg tw-font-semibold tw-capitalize tw-mb-3"
          >
            {{ state.singleCase.data.current_case_study.title }}
          </h2>
          <h1 class="tw-text-4xl tw-font-bold tw-uppercase tw-mb-6">
            {{ state.singleCase.data.current_case_study.title }}
          </h1>
          <div
            class="img-container tw-mb-12 tw-w-full tw-h-[400px] tw-relative"
              :class="isBlog && 'img-path'"

          >
            <img
              :src="state.singleCase.data.current_case_study.image"
              :alt="`${state.singleCase.data.current_case_study.category} ${state.singleCase.data.current_case_study.title}`"
              class="tw-h-full tw-absolute tw-top-0 tw-left-0 tw-right-0 tw-bottom-0 !tw-w-full tw-object-cover"
            />
          </div>
          <div class="tw-mt-7 tw-mb-12">
            <ul>
              <li class="tw-mb-8">
                <h2 class="tw-text-2xl tw-font-bold tw-mb-4 tw-capitalize">
                  {{ state.singleCase.data.current_case_study.description }}
                </h2>
                <!-- <p
                  class="tw-text-base tw-opacity-70 tw-font-semibold tw-capitalize tw-mt-2"
                >
                  {{ info.info }}
                </p> -->
                <div
                  v-html="state.singleCase.data.current_case_study.body"
                ></div>
                <!-- <v-container fluid>
                  <v-row>
                    <v-col cols="12" md="4">
                      <div
                        class="tw-w-full tw-h-[200px] tw-relative tw-shadow-md hover:tw-shadow-xl hover:tw-scale-105 tw-transition-all"
                      >
                        <n-image
                          :src="item"
                          :alt="`${state.singleCase.data.category} ${state.singleCase.data.title}`"
                          :preview-disabled="false"
                          :object-fit="'cover'"
                          :lazy="true"
                          :fallback-src="fallBack"
                          class="tw-h-full tw-absolute tw-top-0 tw-left-0 tw-right-0 tw-bottom-0 tw-w-full tw-object-cover"
                        />
                      </div>
                    </v-col>
                  </v-row>
                </v-container> -->
              </li>
            </ul>
          </div>
        </div>
      </template>
    </BaseContainer>
  </div>
</template>

<script setup>
import useCase from "~/composables/website/useCase";
import { ArrowForwardSharp, ArrowBackSharp } from "@vicons/ionicons5";
import fallBack from "~/assets/imgs/logo_mb.svg";
import BaseContainer from "~~/components/global/BaseContainer.vue";

const route = useRoute();
const { getSinglecase, state } = useCase();

onMounted(() => {
  state.singleCase.loading = true;
  setTimeout(() => {
    getSinglecase(route.params.id);
  }, 1000);
});
</script>

<style lang="scss" scoped>
.img-container {
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% calc(100% - 23px),
    calc(100% - 23px) 100%,
    0% 100%
  );
  .n-image {
    img {
      width: 100% !important;
    }
  }
}
.sharedBlogCaseCard {
  .n-card__content {
    padding: 0rem !important;
  }
  .img-path {
    clip-path: polygon(
      0% 0%,
      100% 0,
      100% calc(100% - 23px),
      calc(100% - 23px) 100%,
      0% 100%
    );
  }
  .subtitle {
    width: 100%;
    height: 100px;
    line-height: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }
}
</style>
