<template>
  <div
    class="tw-relative tw-min-h-screen tw-overflow-hidden tw-flex tw-items-center tw-justify-center  lg:tw-px-14 tw-pt-[10rem]"
  >
    <img
      height="400"
      width="300"
      :src="state.setting.home_hero_section_video"
      class="hero-video"
    />
    <!-- <source :src="HeroVid" /> -->
    <!-- <source :src="HeroVid" /> -->
    <!-- <p class="warning">
      {{ state.setting.home_hero_section_text }}
    </p> -->
    
    <div class="hero-text-container ">
      <h2 class="title tw-leading-8" ref="title">
        ALL YOUR CLIENTS
        <br />
        IN ONE PLACE.
      </h2>
      <p class="subtitle" ref="subtitle">
        {{ state.setting.home_hero_section_text }}
      </p>
      <div
        class="tw-flex tw-gap-4 tw-justify-center tw-items-center tw-flex-wrap tw-py-4"
        ref="btns"
      >
        <div class="md:tw-hidden">
          <BaseButton
            color="primary"
            variant="outlined"
            :borderWidth="1"
            @click="openModal('login')"
            class="tw-min-w-[200px] tw-max-w-[25%]"
          >
            <div
              class="text tw-flex tw-items-center tw-justify-center tw-gap-1 tw-text-2xl md:tw-text-xl tw-py-4"
            >
              <span> {{ t("website.btns.login") }} </span>
              <div class="icon" style="transform: rotate(-45deg)">
                <n-icon
                  :component="ArrowForwardOutline"
                  color="inherit"
                  size="15"
                />
              </div>
            </div>
          </BaseButton>
        </div>
        <div>
          <BaseButton
            color="primary"
            variant="fill"
            :borderWidth="1"
            @click="openModal('register')"
            class="tw-min-w-[250px] tw-max-w-[25%]"
          >
            <div
              class="text tw-font-bold tw-flex tw-items-center tw-justify-center tw-gap-3 tw-text-2xl md:tw-text-xl tw-px-12 tw-py-4"
            >
              <span> {{ t("website.btns.getStarted") }} </span>
              <div class="icon" style="transform: rotate(-45deg)">
                <n-icon
                  :component="ArrowForwardOutline"
                  color="inherit"
                  size="15"
                />
              </div>
            </div>
          </BaseButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// import HeroVid from "~/assets/imgs/landingpage/hero-vid.mp4";
import BaseButton from "~~/components/global/BaseButton.vue";
import { ArrowForwardOutline } from "@vicons/ionicons5";
import useLangHandler from "~~/composables/layout/useLangHandler";
import useAuthHandler from "~~/composables/authHandler";
import useHomeHandler from "~~/composables/website/useHomeHandler";
const { state } = useHomeHandler();


interface SingleItem {
  home_hero_section_text: string;
  home_hero_section_video: string;
}

const { openModal } = useAuthHandler();
const { t } = useLangHandler();
const { $gsap } = useNuxtApp();
const btns = ref(null);
const subtitle = ref(null);
const title = ref(null);
const video = ref(null);
const initAnimation = () => {
  const tl = $gsap.timeline({ defaults: { ease: "power1.out" } });
  const elemArr = $gsap.utils.toArray([
    title.value,
    subtitle.value,
    btns.value,
  ]);
  $gsap.set(elemArr, { autoAlpha: 0, yPercent: 10 });
  tl.to(elemArr, { opacity: 1, stagger: 0.5, autoAlpha: 1, yPercent: 0 });
  tl.fromTo(
    video.value,
    { filter: "brightness(0) grayscale(1)" },
    { filter: "brightness(0.2) grayscale(1)" },
    "-=1"
  );
};
onMounted(() => {
  initAnimation();
});
</script>
<style lang="scss" scoped>
.hero-text-container {
  @apply tw-relative tw-px-3 md:tw-px-0 tw-z-10 tw-text-third tw-h-full tw-w-full tw-max-w-7xl;
  .title {
    @apply tw-text-5xl md:tw-text-8xl tw-text-center tw-text-primary;
  }
  .subtitle {
    @apply tw-text-2xl md:tw-text-4xl tw-text-center tw-mt-6;
  }
}
.hero-video {
  overflow-clip-margin: content-box;
  @apply tw-absolute tw-top-0 tw-overflow-clip tw-grayscale tw-brightness-[0.2] tw-scale-[1.1] tw-left-0 tw-right-0 tw-bottom-0 tw-w-full tw-h-full tw-object-cover tw-pointer-events-none;
}
</style>
