<template>
  <ul class="navStyle">
    <li
      v-for="(link, index) in links"
      :key="index"
      class="tw-flex tw-items-center tw-text-sm xl:tw-text-lg"
    >
      <template v-if="link.isDrop">
        <n-popselect
          v-model:value="value"
          :options="[]"
          trigger="hover"
          class="dropdown"
        >
          <div
            class="tw-text-base tw-flex tw-items-center navLink tw-h-full tw-cursor-pointer"
          >
            <nuxt-link
              :to="{ name: 'feature-slug', params: { slug: 'all' } }"
              class="tw-flex !tw-text-lg tw-items-center !tw-text-inherit"
            >
              {{ link.title }}
              <n-icon
                class="tw-mx-1"
                :component="link.icon"
                color="inherit"
                size="15"
              />
            </nuxt-link>
          </div>
          <template #action>
            <div
              class="tw-container tw-flex tw-flex-col tw-gap-2 tw-text-third tw-pt-4 tw-border-b-2 tw-border-[#fff] tw-pb-8"
            >
              <div class="tw-flex tw-flex-1">
                <div class="singlemenu" v-for="(item, index) in 4" :key="index">
                  <h2
                    class="tw-text-base tw-capitalize tw-text-primary tw-mb-4"
                  >
                    heading
                  </h2>
                  <ul>
                    <li
                      class="tw-mb-2 tw-flex tw-items-start tw-justify-start tw-gap-2 tw-cursor-pointer tw-transition-all hover:tw-bg-[#cccccc1f] tw-p-1"
                      v-for="(item, index) in 3"
                      :key="index"
                      style="
                        clip-path: polygon(
                          0% 0%,
                          100% 0,
                          100% calc(100% - 14px),
                          calc(100% - 14px) 100%,
                          0% 100%
                        );
                      "
                    >
                      <div class="icon pt-2">
                        <n-icon
                          class="tw-mx-1"
                          :component="AccessibilityOutline"
                          color="var(--primary)"
                          size="15"
                        />
                      </div>
                      <div class="content tw-flex tw-flex-col tw-items-start">
                        <h4 class="tw-capitalize tw-text-[15px]">heading2</h4>
                        <p class="tw-opacity-70 tw-text-sm">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <nuxt-link
                :to="{ name: 'feature-slug', params: { slug: 'all' } }"
                class="tw-flex tw-items-center tw-justify-center tw-capitalize tw-underline tw-opacity-90 tw-text-base !tw-text-primary tw-flex-1 tw-text-center tw-gap-2 tw-mt-5"
              >
                <span> {{ t("website.btns.viewAll") }} </span>
                <div class="icon" style="transform: rotate(-45deg)">
                  <n-icon
                    :component="ArrowForwardOutline"
                    color="inherit"
                    size="15"
                  />
                </div>
              </nuxt-link>
            </div>
          </template>
        </n-popselect>
      </template>
      <template v-else>
        <nuxt-link
          :to="link.route"
          class="tw-flex tw-items-center tw-px-4 tw-py-0 navLink tw-font-normal tw-transition-all tw-h-full"
          :class="[{ 'site-app-bar--active': $route.path == link.route }]"
        >
          {{ link.title }}
          <template v-if="link.icon !== null">
            <n-icon
              class="tw-mx-1"
              :component="link.icon"
              color="inherit"
              size="15"
            />
          </template>
        </nuxt-link>
      </template>
    </li>
  </ul>
</template>
<script setup>
import useLangHandler from "~~/composables/layout/useLangHandler";
import {
  ChevronDown,
  AccessibilityOutline,
  ArrowForwardOutline,
} from "@vicons/ionicons5";

const { t } = useLangHandler();
const links = computed(() => {
  const navs = [
    {
      route: "/feature/all",
      title: t("website.toolbar.feature"),
      icon: ChevronDown,
      isDrop: true,
    },
    {
      route: "/case-studies",
      title: t("website.toolbar.caseStudies"),
      icon: null,
      isDrop: false,
    },
    {
      route: "/pricing",
      title: t("website.toolbar.pricing"),
      icon: null,
      isDrop: false,
    },
    {
      route: "/blogs",
      title: t("website.toolbar.blogs"),
      icon: null,
      isDrop: false,
    },
    {
      route: "/aboutus",
      title: t("website.toolbar.aboutus"),
      icon: null,
      isDrop: false,
    },
    {
      route: "/contactus",
      title: t("website.toolbar.contactus"),
      icon: null,
      isDrop: false,
    },
  ];
  return navs;
});
const value = ref("Empty");
</script>
<style lang="scss">
/* exact link will show the primary color for only the exact matching link */

.navLink {
  border-bottom: 2px solid;
  border-color: transparent;
  padding: 0rem 1.2rem;
  position: relative;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: var(--primary);
    transition: transform 0.25s ease-out;
  }
  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    i {
      color: var(--primary);
    }
  }
  &.router-link-exact-active {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  .router-link-exact-active {
    color: var(--primary) !important;
  }
  &:has(> .router-link-exact-active) {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
.dropdown {
  &.n-base-select-menu {
    background: var(--accent) !important;
    max-width: 930px;
    @media screen and (max-width: 1220px) {
      max-width: 750px;
    }
  }
  .n-base-select-menu__empty {
    display: none !important;
  }
  .n-base-select-menu__action {
    border: none !important;
    padding: 0rem 0rem 1px !important;
  }
}

.navStyle {
  @apply tw-justify-center tw-h-full tw-text-third md:tw-gap-0 tw-gap-2 lg:tw-flex;
}
</style>
