<template>
  <div class="tw-flex tw-gap-2 nav-btns tw-items-center">
    <BaseButton
      color="primary"
      variant="outlined"
      :borderWidth="1"
      @click="openModal('login')"
      class="tw-min-w-[100px]"
    >
      <div
        class="text tw-flex tw-items-center tw-justify-center tw-gap-1 tw-py-3 tw-text-lg tw-capitalize"
      >
        <span> {{ t("website.btns.login") }} </span>
        <div class="icon" style="transform: rotate(-45deg)">
          <n-icon :component="ArrowForwardOutline" color="inherit" size="15" />
        </div>
      </div>
    </BaseButton>
    <div class="tw-hidden xl:tw-block">
      <BaseButton
        color="primary"
        variant="fill"
        :borderWidth="1"
        @click="openModal('register')"
        class="tw-min-w-[150px]"
      >
        <div
          class="text tw-flex tw-items-center tw-justify-center tw-gap-1 tw-py-3 tw-text-lg tw-capitalize"
        >
          <span> {{ t("website.btns.getStarted") }} </span>
          <div class="icon" style="transform: rotate(-45deg)">
            <n-icon
              :component="ArrowForwardOutline"
              color="inherit"
              size="15"
            />
          </div>
        </div>
      </BaseButton>
    </div>
  </div>
</template>
<script setup lang="ts">
import BaseButton from "~~/components/global/BaseButton.vue";
import { ArrowForwardOutline } from "@vicons/ionicons5";
import useLangHandler from "~~/composables/layout/useLangHandler";
import useAuthHandler from "~~/composables/authHandler";

const { t } = useLangHandler();
const { openModal } = useAuthHandler();
</script>

