<template>
  <Header />
  <BlogsPagination class="tw-mx-8" />
</template>

<script setup lang="ts">
import Header from "./header.vue";
// @ts-ignore
import BlogsPagination from "./pagination.vue";

import useBlogs from "~~/composables/website/useBlogs";

const { fetchData } = useBlogs();

if (process.client) {
  fetchData();
}
</script>
