<template>
  <div class="tw-bg-third">
    <BaseContainer class="tw-mt-[8rem]">
      <template v-if="state.SingleBlog.loading">
        <n-space vertical>
          <n-skeleton height="40px" width="33%" />
          <n-skeleton height="400px" width="100%" :sharp="false" />
          <div v-for="item in 4" :key="item" class="mt-2">
            <n-skeleton text :repeat="2" />
            <n-skeleton text style="width: 60%" />
          </div>
        </n-space>
      </template>
      <h2
        v-else-if="!state.SingleBlog.loading && state.SingleBlog.error !== null"
      >
        error
      </h2>
      <template v-else>
        <div class="tw-text-secondary">
          <h2
            class="tw-text-base tw-opacity-60 tw-text-lg tw-font-semibold tw-capitalize tw-mb-3"
          >
            {{ state.SingleBlog.data.current_blog.title }}
          </h2>
          <h1 class="tw-text-4xl tw-font-bold tw-uppercase tw-mb-6">
            {{ state.SingleBlog.data.current_blog.title }}
          </h1>

          <div
            class="img-container tw-mb-12 tw-w-full tw-h-[400px] tw-relative"
            :class="isBlog && 'img-path'"
          >
            <img
              :src="state.SingleBlog.data.current_blog.image"
              :alt="`${state.SingleBlog.data.current_blog.title} ${state.SingleBlog.data.current_blog.title}`"
              class="tw-h-full tw-absolute tw-top-0 tw-left-0 tw-right-0 tw-bottom-0 tw-w-full tw-object-cover"
            />
          </div>

          <div class="tw-mt-7">
            <p class="tw-text-2xl tw-mb-4 tw-font-bold">
              {{ state.SingleBlog.data.current_blog.body }}
            </p>
            <p class="tw-text-md tw-opacity-80">
              {{ state.SingleBlog.data.current_blog.body }}
            </p>

            <!-- <ul>
              <li
                v-for="(info, i) in state.SingleBlog.data"
                :key="i"
                class="tw-mb-8"
              >
                <h2 class="tw-text-2xl tw-font-semibold tw-capitalize">
                  {{ info.title }}
                </h2>
                <p
                  class="tw-text-base tw-opacity-70 tw-font-semibold tw-capitalize tw-mt-2"
                >
                  {{ info.body }}
                </p>
              </li>
            </ul> -->
          </div>
          <div class="tw-mt-7 tw-mb-12">
            <p class="tw-text-2xl tw-mb-4 tw-font-bold">
              {{ state.SingleBlog.data.current_blog.body }}
            </p>
            <p class="tw-text-md tw-opacity-80">
              {{ state.SingleBlog.data.current_blog.body }}
            </p>

            <!-- <ul>
              <li
                v-for="(info, i) in state.SingleBlog.data"
                :key="i"
                class="tw-mb-8"
              >
                <h2 class="tw-text-2xl tw-font-semibold tw-capitalize">
                  {{ info.title }}
                </h2>
                <p
                  class="tw-text-base tw-opacity-70 tw-font-semibold tw-capitalize tw-mt-2"
                >
                  {{ info.body }}
                </p>
              </li>
            </ul> -->
          </div>

          <div
            class="tw-mt-6 tw-flex tw-flex-wrap tw-items-center tw-justify-center tw-gap-4 md:tw-gap-0 md:tw-justify-between tw-py-5"
            :class="
              state.SingleBlog.data.next_blog === null ||
              (state.SingleBlog.data.previous_blog === null &&
                '!tw-justify-center')
            "
          >
            <nuxt-link
              v-if="state.SingleBlog.data.previous_blog !== null"
              :to="{
                name: 'blogs-id',
                params: { id: state.SingleBlog.data.previous_blog.id },
              }"
              class="!tw-text-secondary"
            >
              <div
                class="prev tw-flex tw-items-start tw-justify-center tw-gap-6 tw-cursor-pointer tw-transition-all hover:tw-opacity-100"
              >
                <div class="icon">
                  <n-icon :component="ArrowBackSharp" size="25" />
                </div>
                <div class="text tw-flex tw-flex-col">
                  <span
                    class="tw-text-lg md:tw-text-1xl tw-opacity-50 tw-font-semibold"
                    >Previous Post</span
                  >
                  <span class="tw-text-lg tw-font-bold">{{
                    state.SingleBlog.data.previous_blog.title
                  }}</span>
                </div>
              </div>
            </nuxt-link>

            <nuxt-link
              v-if="state.SingleBlog.data.next_blog !== null"
              :to="{
                name: 'blogs-id',
                params: { id: state.SingleBlog.data.next_blog.id },
              }"
              class="!tw-text-secondary"
            >
              <div
                class="next tw-flex tw-items-start tw-justify-center tw-gap-6 tw-cursor-pointer tw-transition-all hover:tw-opacity-100"
              >
                <div class="text tw-flex tw-flex-col">
                  <span
                    class="tw-text-lg md:tw-text-1xl tw-opacity-50 tw-font-semibold"
                    >Next Post</span
                  >
                  <span class="tw-text-lg tw-font-bold">{{
                    state.SingleBlog.data.next_blog.title
                  }}</span>
                </div>
                <div class="icon">
                  <n-icon :component="ArrowForwardSharp" size="25" />
                </div>
              </div>
            </nuxt-link>
          </div>
        </div>
      </template>
    </BaseContainer>
  </div>
</template>

<script setup>
import useBlogs from "~/composables/website/useBlogs";
import { ArrowForwardSharp, ArrowBackSharp } from "@vicons/ionicons5";
import fallBack from "~/assets/imgs/logo_mb.svg";
import BaseContainer from "~~/components/global/BaseContainer.vue";

const route = useRoute();
const { getSingleBlog, state } = useBlogs();
onMounted(() => {
  state.SingleBlog.loading = true;
  setTimeout(() => {
    getSingleBlog(route.params.id);
  }, 1000);
});
</script>

<style lang="scss" scoped>
.img-container {
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% calc(100% - 23px),
    calc(100% - 23px) 100%,
    0% 100%
  );
}
.sharedBlogCaseCard {
  .n-card__content {
    padding: 0rem !important;
  }
  .img-path {
    clip-path: polygon(
      0% 0%,
      100% 0,
      100% calc(100% - 23px),
      calc(100% - 23px) 100%,
      0% 100%
    );
  }
  .subtitle {
    width: 100%;
    height: 100px;
    line-height: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }
}
</style>
