<template>
  <section class="plans tw-py-32">
    <h2 class="title title-style !tw-max-w-full tw-uppercase">{{ t("website.plans") }}</h2>
    <div
      class="plan-type tw-flex tw-items-center tw-justify-center tw-flex-col"
    >
      <label
        class="tw-cursor-pointer tw-w-64 md:tw-w-56 tw-rounded-[40rem] tw-shadow-inner tw-px-3 tw-py-1 tw-block tw-relative"
        style="border: 1px solid #e6e6e6; background-color: #f7f7f7"
      >
        <n-switch
          checked-value="Yearly"
          unchecked-value="monthly"
          v-model="planType"
          @update:value="handleUpdateValue"
          class="tw-opacity-0 tw-absolute tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-w-full tw-h-full tw-z-[11]"
        />

        <div
          class="text tw-flex tw-item-center tw-justify-between tw-relative tw-py-3 tw-rounded-full tw-overflow-hidden"
        >
          <span
            class="tw-flex-1 tw-capitalize tw-text-center tw-font-semibold tw-relative tw-z-10 tw-text-xl"
          >
            monthly
          </span>
          <span
            class="tw-flex-1 tw-capitalize tw-text-center tw-font-semibold tw-relative tw-z-10 tw-text-xl"
          >
            yearly
          </span>

          <div
            class="tw-absolute tw-top-1 tw-bottom-1 tw-w-[49%] tw-rounded-3xl tw-right-1 tw-transition-all tw-bg-primary toggle-overlay"
            :class="planType == 'monthly' ? 'active' : ''"
          ></div>
        </div>
      </label>
      <div class="hint tw-text-sm tw-mt-3">
        <h6 class="tw-text-secondary tw-text-center tw-lowercase">
          save up to 6%
        </h6>
      </div>
    </div>
    <v-container>
      <v-row>
        <v-col cols="12" md="4"  v-for="(item, i) in plans"
        :key="i">
        <PlansCard :cardData="item" />
      </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";

// @ts-ignore
import PlansCard from "~/components/website/shared/plans.card.vue";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
const { t } = useLangHandler();
const plans = [
  {
    title: "Grow plus",
    amount: {
      paid: "12",
      per: "Month",
    },
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla tellus",
    options: [
      {
        label: "Up to 30 clients",
        value: 1,
      },
      {
        label: "Up to 30 clients",
        value: 1,
      },
      {
        label: "Up to 30 clients",
        value: 1,
      },
    ],
    offered: [
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
    ],
  },
  {
    title: "Busıness plan",
    amount: {
      paid: "123",
      per: "Month",
    },
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla tellus",
    options: [
      {
        label: "Up to 30 clients",
        value: 1,
      },
      {
        label: "Up to 30 clients",
        value: 1,
      },
      {
        label: "Up to 30 clients",
        value: 1,
      },
    ],
    offered: [
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
    ],
  },
  {
    title: "Basıc plan",
    amount: {
      paid: "48",
      per: "Month",
    },
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla tellus",
    options: [
      {
        label: "Up to 30 clients",
        value: 1,
      },
      {
        label: "Up to 30 clients",
        value: 2,
      },
      {
        label: "Up to 30 clients",
        value: 3,
      },
    ],
    offered: [
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
      "1 Unlimited Bandwidth",
    ],
  },
];
const planType = ref("monthly");
const handleUpdateValue = (value: string) => {
  planType.value = value;
};
</script>

<style scoped lang="scss">
.toggle-overlay {
  transform: translateX(0%);

  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  &.active {
    transform: translateX(-100%);
  }
}
</style>
