<template>
  <div
    class="tw-block md:tw-hidden  feature-card  "
    :style="{ 'background-color':cardData.attributes.color}"
   :class="cardData.attributes.direction ? '!tw-flex-row-reverse' : ''"

  >
    <h1
      class="tw-uppercase tw-font-bold tw-text-4xl tw-text-center tw-w-full tw-mt-5 tw-mb-5 title"
    >
      {{ cardData.title }}
    </h1>
    <div class="card-img tw-max-w-full tw-object-contain tw-mx-auto">
      <v-img
        :aspect-ratio="1"
        :src="cardData.image"
        width="100%"
        class="tw-h-fit"
        height="300"
        lazy-src="https://picsum.photos/id/11/100/60"
        contain
      >
        <template v-slot:placeholder>
          <div class="d-flex align-center justify-center fill-height">
            <v-progress-circular
              color="grey-lighten-4"
              indeterminate
            ></v-progress-circular>
          </div>
        </template>
      </v-img>
    </div>
    <div class="body tw-px-4">
      <p
        class="subtitle tw-break-words tw-text-start tw-capitalize tw-text-2xl tw-font-normal tw-mb-2"
        v-for="(item, index) in cardData.sub_features"
        :key="index"
      >
        {{ item.title }}
      </p>
      <ul
        class="tw-capitalize tw-text-2xl tw-my-5"
        style="padding-inline-start: 1.5rem"
      >
        <li
          class="tw-my-3 tw-list-disc tw-ps-2"
          v-for="(item, index) in cardData.sub_features"
          :key="index"
          :style="`opacity:${1 - index / cardData.sub_features.length}`"
        >
          {{ item.description }}
        </li>
      </ul>
      <BaseButton
        color="secondary"
        variant="fill"
        :borderWidth="1"
        @click="goRoute(cardData.icon)"
        class="tw-min-w-[200px]  "
      >
        <div
          class="text tw-flex tw-items-center  tw-justify-center tw-py-4 tw-gap-3 tw-text-lg"
        >
          <span class="tw-text-white"> {{ t("website.btns.showMore") }} </span>
          <div class="icon" style="transform: rotate(-45deg)">
            <n-icon
              :component="ArrowForwardOutline"
              color="white"
              size="15"
            />
          </div>
        </div>
      </BaseButton>
    </div>
  </div>




  <div
    class="tw-hidden md:tw-flex tw-flex-wrap feature-card !tw-rounded-[2.2rem] !tw-p-[6rem]"
    :style="{ 'background-color':cardData.attributes.color}"
  >
    <v-row :class="cardData.attributes.direction ? '!tw-flex-row-reverse' : ''">
      <v-col cols="12" md="4" >
        <div
          class="body tw-px-4 tw-flex tw-flex-col tw-items-start tw-justify-evenly tw-flex-[0.3]"
        >
          <h1
            class="tw-uppercase tw-font-bold tw-text-6xl tw-text-start tw-w-full tw-mt-5 tw-mb-5 title"
          >
            {{ cardData.title }}
          </h1>
          <p
            class="subtitle tw-break-words tw-text-start tw-capitalize tw-text-xl tw-font-normal tw-my-6"
          >
            {{ cardData.description }}
          </p>
          <ul
            class="tw-capitalize tw-text-2xl tw-my-5"
            style="padding-inline-start: 1.5rem"
          >
            <li
              class="tw-my-3 tw-list-disc tw-ps-2 tw-transition-all hover:!tw-opacity-100"
              v-for="(item, index) in cardData.sub_features"
              :key="index"
              :style="`opacity:${1 - index / cardData.sub_features.length}`"
            >
              {{ item.title }}
            </li>
          </ul>
          <BaseButton
            color="secondary"
            variant="fill"
            :borderWidth="1"
            @click="goRoute(cardData.icon)"
            class="tw-min-w-[180px] :hover "

          >
            <div
              class="text tw-flex tw-items-center tw-justify-center tw-py-4 tw-gap-3 tw-text-lg"
            >
              <span class="tw-text-white" > {{ t("website.btns.showMore") }} </span>
              <div class="icon" style="transform: rotate(-45deg)">
                <n-icon
                  :component="ArrowForwardOutline"
                  color="white"
                  size="15"
                />
              </div>
            </div>
          </BaseButton>
        </div>
      </v-col>
      <v-col cols="12" md="8">
        <div class="card-img tw-max-w-full tw-object-contain tw-mx-auto">
          <v-img
            :aspect-ratio="1"
            :src="cardData.image"
            cover
            class="tw-h-fit"
            height="580"
            lazy-src="https://picsum.photos/id/11/100/60"
          >
            <template v-slot:placeholder>
              <div class="d-flex align-center justify-center fill-height">
                <v-progress-circular
                  color="grey-lighten-4"
                  indeterminate
                ></v-progress-circular>
              </div>
            </template>
          </v-img>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
interface Props {
  cardData: SingleItem;
}

interface SingleItem {
  id: number;
  title: string;
  description: string;
  attributes: {
    color: string;
    direction: string;
  };
  icon: string;
  image: string;
  sub_features: [
    {
      id: number;
      title: string;
      description: string;
      attributes: string;
      icon: string;
      image: string;
      sub_features: string;
    }
  ];
}

// @ts-ignore
const props = defineProps<Props>();

// @ts-ignore
import BaseButton from "~~/components/global/BaseButton.vue";
// @ts-ignore
import { ArrowForwardOutline } from "@vicons/ionicons5";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
// import { color } from "framer-motion";
const router = useRouter();
const { t } = useLangHandler();
const goRoute = (routeName: string): void => {
  router.push({ name: "feature-slug", params: { slug: routeName } });
};
</script>

<style scoped lang="scss">
.feature-card {
  @apply tw-rounded-[1.7rem] tw-text-secondary tw-text-white tw-shadow-sm tw-my-8 tw-p-6;
}
</style>
