<template>
  <section class="tw-pt-11" ref="WrapperElement">
    <h2 class="title title-style tw-uppercase">{{ t("website.feature") }}</h2>
    <bs-container>
      <div v-for="(item, i) in state" :key="i">
        <FeatureCard :cardData="item"  />
      </div>
    </bs-container>
  </section>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
// @ts-ignore
import FeatureCard from "./card.vue";
// @ts-ignore
// import FeatureImg from "~~/assets/imgs/landingpage/feature_plac.png";
const { t } = useLangHandler();

interface Props {
  state: SingleItem[]
}
const props = defineProps<Props>();


// const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  title: string;
  description: string;
  attributes: {
    color: string;
    direction: string;
  };
  icon: string;
  image: string;
  sub_features: [
    {
      id: number;
      title: string;
      description: string;
      attributes: string;
      icon: string;
      image: string;
      sub_features: string;
    }
  ];
}

const features: SingleItem[] = props.state;


</script>
