<template>
  <section class="contact-form tw-my-32 tw-mx-20">
    <bs-container>
      <v-row class="">
        <v-col cols="12" md="6" class="!tw-order-2 md:!tw-order-1">
          <div
            class="pref  tw-w-full tw-flex tw-flex-col tw-gap-8 tw-text-secondary tw-pb-2 tw-pr-16 "
          >
            <div class="info tw-border-b-2 tw-pb-4">
              <h2 class="tw-text-5xl title tw-uppercase tw-mt-3">
                {{ stateHtml.book_demo_text }}
              </h2>
              <p class="tw-break-words tw-text-xl tw-opacity-70 tw-my-6">
                {{ stateHtml.doc_text }}
              </p>
            </div>
            <div class="localise tw-flex tw-flex-col tw-gap-6">
              <v-row>
                <v-col cols="6" md="6" class="!tw-order-2 md:!tw-order-1">
                  <div class="tw-w-full">
                    <h2 class="tw-text-2xl tw-capitalize title">
                      {{ stateHtml.book_demo_text }}
                    </h2>
                  </div>
                </v-col>
                <v-col cols="6" md="6" class="!tw-order-2 md:!tw-order-1">
                  <div class="tw-flex tw-gap-3  tw-w-full tw-mt-1" dir="rtl">
                         <n-icon
                      :component="ChevronForward"
                      color="gray"
                      size="22"
                    />
                    <div
                      class="icon tw-border-r-gray-200 tw-h-5 tw-pr-3 tw-border-r-2"
                    >
                      <n-icon :component="ChevronBack" color="gray" size="22" />
                    </div>

               
                  </div>
                </v-col>
              </v-row>

              <div
                v-for="(item, i) in contactInfo"
                :key="i"
                class="item tw-flex tw-gap-4 tw-items-stretch"
              >
                <div class="icon tw-flex tw-items-center tw-text-secondary">
                  <!-- <n-icon
                    :component={item.}
                    size="23"
                    class="tw-opacity-100"
                  /> -->

                  <img :src="item.image" class="tw-opacity-100 tw-w-7" alt="" />
                </div>
                <div class="text title tw-flex tw-flex-col tw-items-start">
                  <span class="tw-text-lg tw-capitalize tw-font-semibold">
                    {{ item.title }}
                  </span>

                  <span class="tw-text-base tw-opacity-75 tw-lowercase">{{
                    item.info
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="6" class="!tw-order-1 md:!tw-order-2">
          <div
            class="_contactform-container tw-bg-[#F0F0F0] tw-rounded-md tw-w-full tw-text-secondary tw-p-4 tw-py-10"
          >
            <h2
              class="tw-text-5xl title tw-font-semibold tw-uppercase tw-mb-4 tw-px-5 tw-mt-4 md:tw-mt-0"
            >
              How can we help?
            </h2>
            <img src="phone" alt="" />

            <v-container fluid>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    v-model="stateForm.name"
                    :error-messages="v$.name.$errors.map((e) => e.$message)"
                    label="Name"
                    required
                    @input="v$.name.$touch"
                    @blur="v$.name.$touch"
                    density="compact"
                    variant="underlined"
                    clearable
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-text-field
                    v-model="stateForm.email"
                    label="E-mail"
                    required
                    density="compact"
                    variant="underlined"
                    :error-messages="v$.email.$errors.map((e) => e.$message)"
                    @input="v$.email.$touch"
                    @blur="v$.email.$touch"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12">
                  <v-textarea
                    density="compact"
                    variant="underlined"
                    label="Message"
                    v-model="stateForm.msg"
                    @input="v$.msg.$touch"
                    @blur="v$.msg.$touch"
                    :error-messages="v$.msg.$errors.map((e) => e.$message)"
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <BaseButton
                    :color="'primary'"
                    :variant="'fill'"
                    :width="180"
                    :height="65"
                    :borderWidth="2"
                    @click="submit"
                  >
                    <div
                      class="text tw-flex tw-px-10 tw-py-3 tw-font-bold tw-items-center tw-justify-center tw-gap-1 tw-text-lg tw-uppercase !tw-text-secondary"
                    >
                      <span> {{ t("website.btns.submit") }} </span>
                      <div class="icon" style="transform: rotate(-45deg)">
                        <n-icon
                          :component="ArrowForwardOutline"
                          color="inherit"
                          size="18"
                        />
                      </div>
                    </div>
                  </BaseButton>
                </v-col>
              </v-row>
            </v-container>
          </div>
        </v-col>
      </v-row>
    </bs-container>
  </section>
</template>

<script setup lang="ts">
import { MailOutline, LocationOutline, CallOutline } from "@vicons/ionicons5";
// @ts-ignore
import { ArrowForwardOutline } from "@vicons/ionicons5";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
// @ts-ignore
import BsContainer from "~~/components/global/BaseContainer.vue";
// @ts-ignore
import { ChevronForward, ChevronBack } from "@vicons/ionicons5";

import useContact from "~~/composables/website/useContact";
import phone from "~/assets/imgs/icons/phone.svg";
import email from "~/assets/imgs/icons/email.svg";
import place from "~/assets/imgs/icons/place.svg";

const { stateForm, v$, stateHtml, submit } = useContact();
const { t } = useLangHandler();

const contactInfo = [
  {
    title: "email",
    info: "example@gg.com",
    image: email,
  },
  {
    title: "Phone",
    info: "Office. +61 234–567 8910",
    image: phone,
  },
  {
    title: "Office",
    info: "6391 Elgin St. Celina, Delaware 10299",
    image: place,
  },
];
</script>

<style lang="scss">
._contactform-container {
  .v-input__control {
    border-bottom: 1px solid;
    &:focus {
      border-bottom: 0px solid;
    }
  }
}
</style>
