<template>
  <section
    class="header tw-min-h-[30vh] md tw-flex-col tw-gap-6 tw-p-24 tw-flex tw-items-center tw-justify-center tw-bg-accent"
  >
    <h2 class="tw-mt-8 tw-text-5xl title tw-text-third tw-uppercase">
  
      {{ stateHtml.book_demo_text }}
    </h2>
    <h3 class="tw-mt-0 tw-text-lg subtitle tw-capitalize  tw-text-third tw-opacity-70">
      {{ stateHtml.doc_text }}
    </h3>
    <div
      class="btn-container   tw-flex tw-flex-wrap  tw-gap-8 tw-items-center tw-justify-center"
    >
      <div
        class="btn tw-border-2 tw-cursor-pointer tw-transition-all hover:tw-bg-[#1B1B1B] tw-border-[rgba(var(--third-rgb),0.1)] tw-p-4 tw-rounded-lg tw-shadow-lg tw-flex tw-flex-wrap tw-items-center tw-gap-4 tw-text-third"
      >
        <div class="text tw-py-4 tw-px-5 tw-max-w-sm ">
          <h1 class="tw-text-2xl">{{ stateHtml.book_demo_text }}</h1>
          <p class="tw-text-lg     tw-opacity-60 tw-mt-3">
            {{ stateHtml.form_text }}
          </p>
        </div>
        <div class="icon">
          <n-icon :component="ChevronForward" color="var(--third)" size="20" />
        </div>
      </div>
      <div
        class="btn tw-border-2 tw-cursor-pointer tw-transition-all hover:tw-bg-[#1B1B1B] tw-border-[rgba(var(--third-rgb),0.1)] tw-p-4 tw-rounded-lg tw-shadow-lg tw-flex tw-flex-wrap tw-items-center tw-gap-4 tw-text-third"
      >
        <div class="text tw-max-w-sm  tw-py-4 tw-px-5">
          <h1 class="tw-text-2xl    ">{{ stateHtml.book_demo_text }}</h1>
          <p class="tw-text-lg tw-opacity-70 tw-mt-3">
            {{ stateHtml.form_text }}
          </p>
        </div>
        <div class="icon">
          <n-icon :component="ChevronForward" color="var(--third)" size="20" />
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import { ChevronForward } from "@vicons/ionicons5";

const props = defineProps(["stateHtml"]);
</script>

<style lang="scss" scoped>
.header {
  background-image: url("~/assets/imgs/contactusHeader.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
</style>
