<template>

  <headerVue :stateHtml="stateHtml" />
  <ContactForm />
  <div class="tw-bg-bg  tw-rounded-t-[2rem]">
    <Faqs :faqs="state.faqs"  />
  </div>
</template>

<script setup>
import headerVue from "./header.vue";
import ContactForm from "./Form.vue";
import Faqs from "~/components/website/shared/FAQs.vue";

import useContact from "~~/composables/website/useContact";

import useHomeHandler from "~~/composables/website/useHomeHandler";

const {state} = useHomeHandler()

const { stateHtml, fetchData } = useContact();
fetchData();

// const faqs = [
//   {
//     q: "What is fitexpert software?s",
//     a:
//       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
//   },
//   {
//     q: "What is fitexpert software?",
//     a:
//       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
//   },
//   {
//     q: "What is fitexpert software?",
//     a:
//       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
//   },
//   {
//     q: "What is fitexpert software?",
//     a:
//       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
//   },
// ];
</script>

<style lang="scss" scoped></style>
