<template>
  <section class="tw-mt-5">
    <bs-container>
      <v-row class="tw-px-9">
        <v-col cols="12" md="6">
          <div
            class="info tw-h-full tw-justify-between tw-flex tw-items-center tw-gap-6 md:tw-items-start tw-flex-col tw-text-center md:tw-text-start"
          >
            <h2
              class="tw-text-3xl md:tw-text-5xl tw-text-secondary title tw-font-semibold tw-uppercase tw-mt-2"
            >
{{ stateAboutUs.main_section_title }}            </h2>
            <p
              class="tw-text-lg md:tw-text-2xl tw-text-secondary tw-opacity-75 tw-mt-4"
              v-html="stateAboutUs.main_section_description"
            >
           
            </p>
            <div class="tw-mt-auto tw-hidden md:tw-block">
              <BaseButton
                :color="'secondary'"
                :variant="'fill'"
                :width="180"
                :height="65"
                :borderWidth="1"
              >
                <div
                  class="text tw-flex tw-px-14 tw-py-4 tw-items-center tw-justify-center tw-gap-2 tw-text-xl"
                >
                  <span> {{ t("website.btns.contactus") }} </span>
                  <div class="icon" style="transform: rotate(-45deg)">
                    <n-icon
                      :component="ArrowForwardOutline"
                      color="inherit"
                      size="20"
                    />
                  </div>
                </div>
              </BaseButton>
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="6">
          <div class="img tw-flex-1">
            <div class="img-container tw-h-[200px] md:tw-h-[490px] tw-relative">
              <!-- <v-img
                :aspect-ratio="1"
                :src="stateAboutUs.main_section_image"
                width="100%"
                max-height="500"
                lazy-src="https://picsum.photos/id/11/100/60"
                cover
                @error="errorImage"
              > -->
                 <v-img
                :aspect-ratio="1"
                :src="stateAboutUs.main_section_image"
                width="100%"
                max-height="500"
                lazy-src="https://picsum.photos/id/11/100/60"
                cover
              >
                <template v-slot:placeholder>
                  <div class="d-flex align-center justify-center fill-height">
                    <v-progress-circular
                      color="grey-lighten-4"
                      indeterminate
                    ></v-progress-circular>
                  </div>
                </template>
              </v-img>
            </div>
          </div>
          <div
            class="tw-mt-6 tw-flex tw-items-center tw-justify-center md:tw-hidden"
          >
            <BaseButton
              :color="'secondary'"
              :variant="'fill'"
              :width="180"
              :height="65"
              :borderWidth="1"
            >
              <div
                class="text tw-flex tw-px-12 tw-py-4 tw-items-center tw-justify-center tw-gap-2 tw-text-xl"
              >
                <span> {{ t("website.btns.contactus") }} </span>
                <div class="icon" style="transform: rotate(-45deg)">
                  <n-icon
                    :component="ArrowForwardOutline"
                    color="inherit"
                    size="20"
                  />
                </div>
              </div>
            </BaseButton>
          </div>
        </v-col>
      </v-row>
    </bs-container>
  </section>
</template>

<script setup>
// import BlogImg from "~/assets/imgs/blogs/blog_img.png";
import fallBack from "~/assets/imgs/logo_mb.svg";

// @ts-ignore
import BaseButton from "~~/components/global/BaseButton.vue";
// @ts-ignore
import { ArrowForwardOutline } from "@vicons/ionicons5";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";

import BsContainer from "~~/components/global/BaseContainer.vue";
const props = defineProps(["stateAboutUs"]);



const { t } = useLangHandler();
// const src = ref(BlogImg);
// const errorImage = () => {
//   src.value = fallBack;
// };
</script>

<style scoped lang="scss">
.img-container {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0 100%, 0 15%);
}
</style>
