<template>
  <section class="business tw-text-secondary tw-my-6 tw-mt-10">
    <bs-container>
      <h2
        class="title tw-uppercase tw-text-3xl md:tw-text-5xl tw-text-center md:tw-max-w-6xl tw-mx-auto tw-my-7"
      >
    {{ stateAboutUs.main_section_title }}
    </h2>
      <p
        class="subtitle tw-opacity-75 tw-text-center md:tw-max-w-3xl tw-mx-auto tw-my-7 tw-text-2xl"
        v-html="stateAboutUs.main_section_description"
      ></p>

      <v-row>
        <v-col cols="12" md="7">
          <div class="tw-w-full tw-h-full tw-overflow-hidden">
            <v-img
              :aspect-ratio="1"
              :src="stateAboutUs.sub_section_image"
              width="100%"
              height="500"
              lazy-src="https://picsum.photos/id/11/100/60"
              contain
            >
              <template v-slot:placeholder>
                <div class="d-flex align-center justify-center fill-height">
                  <v-progress-circular
                    color="grey-lighten-4"
                    indeterminate
                  ></v-progress-circular>
                </div>
              </template>
            </v-img>
          </div>
        </v-col>
        <v-col cols="12" md="5">
          <!-- <ul class="tw-h-full tw-flex tw-flex-col tw-justify-center">

            <li
              v-for="(item, index) in Object.keys(stateAboutUs)"
              :key="index"
              class="tw-text-secondary tw-text-start tw-flex tw-flex-col tw-gap-2 tw-mb-4"
            >
            {{ stateAboutUs }}

            {{ (Object.keys(stateAboutUs)) }}
              <div
                class="title tw-flex tw-items-center tw-justify-start tw-gap-2"
              >
                <n-icon
                  :component="CheckmarkDone"
                  color="inherit"
                  size="30"
                  class="tw-opacity-70"
                />
                <span
                  class="title tw-text-3xl tw-mb-2 tw-uppercase"
                  v-html="item.sub_section_title"
                >
                </span>
              </div>
              <p
                class="tw-text-base tw-text-xl"
                v-html="item.sub_section_description"
              ></p>
            </li>
          </ul> -->



            <ul class="tw-h-full tw-flex tw-flex-col tw-justify-center">
            <li
              class="tw-text-secondary tw-text-start tw-flex tw-flex-col tw-gap-2 tw-mb-4"
            >

              <div
                class="title tw-flex tw-items-center tw-justify-start tw-gap-2"
              >
                <n-icon
                  :component="CheckmarkDone"
                  color="inherit"
                  size="30"
                  class="tw-opacity-70"
                />
                <span
                  class="title tw-text-3xl tw-mb-2 tw-font-bold tw-uppercase"
                  v-html="stateAboutUs.sub_section_title"
                >
                </span>
              </div>
              <p
                class="tw-text-base tw-text-xl"
                v-html="stateAboutUs.sub_section_description"
              ></p>
            </li>
               <li
              class="tw-text-secondary tw-text-start tw-flex tw-flex-col tw-gap-2 tw-mb-4"
            >

              <div
                class="title tw-flex tw-items-center tw-justify-start tw-gap-2"
              >
                <n-icon
                  :component="CheckmarkDone"
                  color="inherit"
                  size="30"
                  class="tw-opacity-70"
                />
                <span
                  class="title tw-font-bold tw-text-3xl tw-mb-2 tw-uppercase"
                  v-html="stateAboutUs.sub_section_title"
                >
                </span>
              </div>
              <p
                class="tw-text-base tw-text-xl"
                v-html="stateAboutUs.sub_section_description"
              ></p>
            </li>
        <li
              class="tw-text-secondary tw-text-start tw-flex tw-flex-col tw-gap-2 tw-mb-4"
            >

              <div
                class="title tw-flex tw-items-center tw-justify-start tw-gap-2"
              >
                <n-icon
                  :component="CheckmarkDone"
                  color="inherit"
                  size="30"
                  class="tw-opacity-70"
                />
                <span
                  class="title tw-font-bold tw-text-3xl tw-mb-2 tw-uppercase"
                  v-html="stateAboutUs.sub_section_title"
                >
                </span>
              </div>
              <p
                class="tw-text-base tw-text-xl"
                v-html="stateAboutUs.sub_section_description"
              ></p>
            </li>

               <li
              class="tw-text-secondary tw-text-start tw-flex tw-flex-col tw-gap-2 tw-mb-4"
            >

              <div
                class="title tw-flex tw-items-center tw-justify-start tw-gap-2"
              >
                <n-icon
                  :component="CheckmarkDone"
                  color="inherit"
                  size="30"
                  class="tw-opacity-70"
                />
                <span
                  class="title tw-text-3xl tw-font-bold tw-mb-2 tw-uppercase"
                  v-html="stateAboutUs.sub_section_title"
                >
                </span>
              </div>
              <p
                class="tw-text-base tw-text-xl"
                v-html="stateAboutUs.sub_section_description"
              ></p>
            </li>
          </ul>
        </v-col>
      </v-row>
    </bs-container>
  </section>
</template>

<script setup lang="ts">
// import Imgback from "~/assets/imgs/landingpage/dashbordPic.png";
import { CheckmarkDone } from "@vicons/ionicons5";
import BsContainer from "~~/components/global/BaseContainer.vue";

const props = defineProps(["stateAboutUs"]);

// const assistance = [
//   {
//     title: "Client managment",
//     desc:
//       "Lorem Ipsum is simply dummy text of the printing  the industry's standard dummy text ever since.",
//   },
//   {
//     title: "Client managment",
//     desc:
//       "Lorem Ipsum is simply dummy text of the printing  the industry's standard dummy text ever since.",
//   },
//   {
//     title: "Client managment",
//     desc:
//       "Lorem Ipsum is simply dummy text of the printing  the industry's standard dummy text ever since.",
//   },
// ];
</script>

<style scoped></style>
