<template>
  <section
    class="header tw-min-h-[30vh] tw-flex tw-flex-col tw-pt-8 tw-items-center tw-justify-center tw-bg-accent"
  >
    <h2 class="tw-mt-20 tw-text-5xl title tw-text-third tw-uppercase">
     {{ stateAboutUs.title }}
    </h2>
    <p
      class="tw-text-base tw-mb-4 tw-opacity-75 tw-text-third w-full md:tw-max-w-xl tw-text-center tw-mt-6"
    >
    {{ stateAboutUs.body }}
    </p>
  </section>
  <div style="border-top: 2px solid">
    <Sponsers />
  </div>
</template>

<script setup >
import Sponsers from "~/components/website/landingpage/sponsers/index.vue";
const props = defineProps(["stateAboutUs"]);

</script>

<style lang="scss" scoped>
.header {
  background-image: url("~/assets/imgs/blogs/blog_header.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
</style>
