<template>
  <Header :stateAboutUs="stateAboutUs.basic_info" />

  <Assistance class="!tw-my-36" :stateAboutUs="stateAboutUs.sections_info"  />
  <Vision class="!tw-my-36 !tw-mb-48 !tw-mx-14" :stateAboutUs="stateAboutUs.missions" />
  <Business class="!tw-mt-36  !tw-mx-8" :stateAboutUs="stateAboutUs.sections_info" />
  <Matrix class="!tw-mb-36 !tw-mx-16" :state="state.metrics" />
  <Socials class="!tw-my-36" />
  <ClientTestimonials class="!tw-my-36" :state="state.client_testimonials.items" />

  <div class="tw-bg-[#eaeaeb]">
    <JoinUs class="!tw-mt-0" />
  </div>

</template>

<script setup >
import Header from "./header.vue";
import Assistance from "./assitance.vue";
import Vision from "./vision.vue";
import Business from "./business.vue";
import Matrix from "~~/components/website/landingpage/matrix/index.vue";
import Socials from "./socails.vue";
import ClientTestimonials from "~~/components/website/landingpage/testimonial/index.vue";
import JoinUs from "~~/components/website/landingpage/joinUs.vue";
import useHomeHandler from "~~/composables/website/useHomeHandler";
import useAboutUs from "~~/composables/website/useAboutUs";

const { state } = useHomeHandler();
const { stateAboutUs, fetchData } = useAboutUs()
fetchData()
</script>

<style scoped></style>
