<template>
  <section>
    <h2
      class="title tw-text-2xl md:tw-text-5xl tw-mb-12 tw-text-center md:tw-max-w-4xl tw-mx-auto tw-my-10"
    >
      FOLLOW OUR SOCIALS
    </h2>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="4"
          v-for="(item, index) in socials"
          :key="index"
          class="tw-p-4 tw-transition-all hover:tw-scale-105"
        >
          <a
            :href="item.link"
            target="_blank"
            class="tw-h-full tw-w-full tw-rounded-sm tw-relative"
          >
            <div>
              <v-img
                :aspect-ratio="1"
                :src="item.img"
                width="100%"
                height="400"
                lazy-src="https://picsum.photos/id/11/100/60"
                cover
              >
                <template v-slot:placeholder>
                  <div class="d-flex align-center justify-center fill-height">
                    <v-progress-circular
                      color="grey-lighten-4"
                      indeterminate
                    ></v-progress-circular>
                  </div>
                </template>
              </v-img>
              <div
                class="info tw-absolute tw-text-third tw-bottom-0 tw-left-0 tw-right-0 tw-w-full tw-flex tw-items-center tw-justify-between tw-backdrop-blur-md   tw-p-2"
              >
                <n-icon :component="item.icon" color="inherit" size="37" />
                <div
                  class="hint tw-flex tw-flex-col tw-gap-1 tw-mx-2"
                  style="margin-inline-end: auto"
                >
                  <span class="tw-text-base">@{{ item.username }}</span>
                  <span class="tw-text-xs tw-opacity-75">@{{ item.hint }}</span>
                </div>
                <n-icon
                  :component="ArrowForwardCircleOutline"
                  color="inherit"
                  size="37"
                />
              </div>
            </div>
          </a>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script setup lang="ts">
import {
  LogoFacebook,
  LogoTwitter,
  LogoInstagram,
  ArrowForwardCircleOutline,
} from "@vicons/ionicons5";
import imgI from "~/assets/imgs/landingpage/caseStudies.jpg";
const socials = [
  {
    icon: LogoFacebook,
    img: imgI,
    username: "Fitexpert_Account",
    link: "www.sdsd.com",
    hint: "26.2k followers",
  },
  {
    icon: LogoFacebook,
    img: imgI,
    username: "Fitexpert_Account",
    link: "www.sdsd.com",
    hint: "26.2k followers",
  },
  {
    icon: LogoFacebook,
    img: imgI,
    username: "Fitexpert_Account",
    link: "www.sdsd.com",
    hint: "26.2k followers",
  },
];
</script>

<style scoped></style>
