<template>
  <section class="vision">
    <bs-container>
      <v-row   >
        <v-col cols="12" md="4" v-for="(item, index) in stateAboutUs" :key="index"   >
          <div
            class="card tw-flex  tw-text-secondary tw-text-start tw-pt-10 tw-flex-col tw-gap-4 tw-h-full tw-w-full tw-border-2 tw-py-6 tw-rounded-2xl tw-transition-all tw-px-10  hover:tw-shadow-md hover:tw-bg-[#F0F0F0]"
          >
            <div class="icon tw-h-11 tw-w-11">
              <v-img
                width="100"
                height="100"
                :aspect-ratio="1"
                :src="item.icon"
                lazy-src="https://picsum.photos/id/11/100/60"
                contain
              >
                <template v-slot:placeholder>
                  <div class="d-flex align-center justify-center fill-height">
                    <v-progress-circular
                      color="grey-lighten-4"
                      indeterminate
                    ></v-progress-circular>
                  </div>
                </template>
              </v-img>
            </div>

            <h2 class="title tw-text-4xl tw-mt-2 !tw-uppercase  ">{{ item.title }}</h2>

            <p class="tw-break-words tw-text-md   tw-capitalize  tw-opacity-90">
              {{ item.description }}
            </p>

          </div>
        </v-col>
      </v-row>
    </bs-container>
  </section>
</template>

<script setup lang="ts">
// import BranchIcon from "~/assets/imgs/icons/branch.svg";
// import light from "~/assets/imgs/icons/light.svg";
// import smilyStar from "~/assets/imgs/icons/smilyStar.svg";
import BsContainer from "~~/components/global/BaseContainer.vue";
const props = defineProps(["stateAboutUs"]);


// const cards = [
//   {
//     icon: light,
//     title: "MISSION",
//     desc:
//       "Lorem Ipsum is simply dummy text electronic typesetting, remaining essentially unchanged.but also the leap into electronic typesetting, remaining essentially .",
//   },
//   {
//     icon: BranchIcon,
//     title: "MISSION",
//     desc:
//       "Lorem Ipsum is simply dummy text electronic typesetting, remaining essentially unchanged.but also the leap into electronic typesetting, remaining essentially .",
//   },
//   {
//     icon: smilyStar,
//     title: "MISSION",
//     desc:
//       "Lorem Ipsum is simply dummy text electronic typesetting, remaining essentially unchanged.but also the leap into electronic typesetting, remaining essentially .",
//   },
// ];
</script>

<style scoped>
p{
  font-family: Approach
}



</style>
