<template>
  <section>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="12"
          v-for="(feature, $index) in state.features.items"
          :key="$index"
        >
          <SingleFeature
            :state="state"
            :cardData="feature"
            :class="$index + (1 % 2) == 0 ? 'ssdsdsdsdsdsdsd' : ''"
          />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script setup lang="ts">
import HeroImg from "~/assets/imgs/landingpage/feature_plac.png";
import SingleFeature from "./singleFeature.vue";
import { SingleFeature as SingleFeatureType } from "~~/assets/types/FeatureType";
import useFeatures from "~~/composables/website/useFeatures";
// import useRequest from "~~/composables/helpers/useApi";
const features = ref<SingleFeatureType[]>([
  {
    slug: "slug",
    title: "client management",
    subtitle:
      "We're proud to be working with these incredible companies, and thankful for their feedback, suggestions, and support.",
    heroImg: HeroImg,
    section: [
      {
        title: "Training",
        desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unknown printer took a galley of type and scrambled it to make a type specimen book. It has  Aldus PageMaker including versions of Lorem.",
        heroImg: HeroImg,
        benefits: [
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
        ],
      },
    ],
  },
  {
    slug: "ali",
    title: "client management",
    subtitle:
      "We're proud to be working with these incredible companies, and thankful for their feedback, suggestions, and support.",
    heroImg: HeroImg,
    section: [
      {
        title: "Training",
        desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unknown printer took a galley of type and scrambled it to make a type specimen book. It has  Aldus PageMaker including versions of Lorem.",
        heroImg: HeroImg,
        benefits: [
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
        ],
      },
    ],
  },
  {
    slug: "management",
    title: "client management",
    subtitle:
      "We're proud to be working with these incredible companies, and thankful for their feedback, suggestions, and support.",
    heroImg: HeroImg,
    section: [
      {
        title: "Training",
        desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's unknown printer took a galley of type and scrambled it to make a type specimen book. It has  Aldus PageMaker including versions of Lorem.",
        heroImg: HeroImg,
        benefits: [
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
          {
            title: "Training Templates",
            desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's make a type specimen book.",
          },
        ],
      },
    ],
  },
]);

const route = useRoute();

const { state } = useFeatures();

const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  title: string;
  subtitle: string;
  features: string;
}


const navigate = async (elementID: string) => {
  if (!elementID || elementID == "all") return;
  const element = document.getElementById(elementID);
  if (!element) return;

  await nextTick(() => {
    setTimeout(() => {
      window.scrollTo({
        left: 0,
        top: element.offsetTop - 110,
        behavior: "smooth",
      });
    }, 500);
  });
};
onMounted(() => {
  navigate(route.params.slug);
});
</script>

<style scoped></style>
