<template>
  <section
    class="tw-mt-28 tw-mb-7 tw-text-secondary md:tw-max-w-6xl tw-mx-auto"
  >
    <h2
      class="title tw-text-4xl md:tw-text-5xl tw-text-center tw-pt-20 tw-mb-7 tw-uppercase"
    >
      {{ state.title }}
    </h2>
    <p class="subtitle tw-text-2xl tw-mb-16 tw-opacity-75 tw-text-center">
      {{ state.subtitle }}
    </p>
  </section>
</template>

<script setup lang="ts">
const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  title: string;
  subtitle: string;
}
</script>
