<template>
  <div>
    <Header :state="state" />
    <mainFeatures  :state="state" class="tw-mb-16"/>
    <FeatureWrapper />
    <JoinUs  :state="state" />
  </div>
</template>

<script setup lang="ts">
import Header from "./header.vue";
import mainFeatures from "./mainFeatures.vue";
import FeatureWrapper from "./featuresWrapper.vue";
import JoinUs from "~~/components/website/landingpage/joinUs.vue";
import useFeatures from "~~/composables/website/useFeatures";

const { state, fetchData } = useFeatures();

if (process.client) {
  fetchData();
}




</script>

<style lang="scss" scoped></style>
