<template>
  <section class="tw-my-4 tw-mx-28">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
          v-for="(item, i) in state.features.items"
          :key="i"
        >
          <div
            class="card tw-mx-auto tw-px-6 tw-bg-accent tw-rounded-md tw-shadow-md tw-transition-all hover:tw-shadow-lg hover:tw-bg-primary hover:tw-text-secondary tw-cursor-pointer tw-p-3 tw-text-start tw-flex tw-flex-col tw-items-start tw-text-third tw-gap-4"
            @click="navigate(item.slug)"
          >
            <div
              class="icon tw-border-4 tw-mb-3 tw-mt-4 tw-border-primary flex tw-items-center tw-justify-center tw-p-3 tw-rounded-full tw-shadow-lg tw-bg-primary"
            >
              <v-img contain :src="item.icon" width="45" height="45" />
            </div>
            <div
              class="text tw-flex tw-items-center tw-justify-between tw-w-full tw-gap-2 tw-mt-6"
            >
              <span
                class="tw-font-bold tw-text-lg tw-tracking-wide tw-uppercase"
                >{{ item.title }}
              </span>
              <n-icon
                class="tw-text-xl"
                :component="ArrowForward"
                color="inherit"
              />
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script setup lang="ts">
import { ArrowForward } from "@vicons/ionicons5";
// import userCog from "~/assets/imgs/icons/userCog.png";
// import users from "~/assets/imgs/icons/users.png";
// import chart from "~/assets/imgs/icons/chart.png";

const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  title: string;
  subtitle: string;
  features: string;
}

const route = useRoute();

const navigate = async (elementID: string) => {
  if (!elementID || elementID == "all") return;
  const element = document.getElementById(elementID);
  if (!element) return;

  history.pushState({}, "", `${elementID}`);
  window.scrollTo({
    left: 0,
    top: element.offsetTop - 110,
    behavior: "smooth",
  });
};
</script>

<style lang="scss" scoped>
.card {
  clip-path: polygon(0% 0%, 100% 0, 100% 77%, 94% 100%, 0% 100%);
  .text {
    padding-inline-end: 1rem;
  }
}
</style>
