<template>
  <section :id="cardData.id" class="tw-mt-30">
    <div class="header tw-text-secondary  tw-mb-16">
      <div class="md:tw-max-w-7xl  tw-mx-auto tw-text-center">
        <h2
          class="title tw-text-4xl md:tw-text-5xl tw-uppercase tw-mb-10 tw-mt-12"
        >
          {{ cardData.title }}
        </h2>
        <p class="tw-text-xl tw-opacity-80 tw-mb-12">{{ cardData.description }}</p>
      </div>
      <div class="img-container">
        <v-img
          :aspect-ratio="1"
          :src="cardData.image"
          width="100%"
          class="tw-h-fit"
          height="600"
          lazy-src="https://picsum.photos/id/11/100/60"
          contain
        >
          <template v-slot:placeholder>
            <div class="d-flex align-center justify-center fill-height">
              <v-progress-circular
                color="grey-lighten-4"
                indeterminate
              ></v-progress-circular>
            </div>
          </template>
        </v-img>
      </div>
    </div>
    <div class="benfits tw-ml-14 "  >
      <v-container fluid class="tw-mb-12">
        <v-row>
          <v-col cols="12" md="4">
            <div
              class="tw-text-center   md:tw-text-start tw-mx-auto tw-text-secondary tw-h-full tw-flex tw-flex-col tw-items-start tw-justify-center"
            >
              <h2 class="title tw-uppercase tw-mb-4 tw-text-6xl tw-w-full">
                {{ cardData.title }}
              </h2>
              <p class="tw-text-base tw-opacity-80 tw-mt-4">{{ cardData.description }}</p>
            </div>
          </v-col>
          <v-col cols="12" md="8">
            <div class="img-container">
              <v-img
                :src="cardData.image"
                width="100%"
                class="tw-h-fit"
                height="350"
                lazy-src="https://picsum.photos/id/11/100/60"
                contain
              >
                <template v-slot:placeholder>
                  <div class="d-flex align-center justify-center fill-height">
                    <v-progress-circular
                      color="grey-lighten-4"
                      indeterminate
                    ></v-progress-circular>
                  </div>
                </template>
              </v-img>
            </div>
          </v-col>
        </v-row>
      </v-container>
      <v-container fluid>
        <v-row>
          <v-col
            cols="12"
            md="4"
            v-for="(benefit, $index) in cardData.sub_features"
            :key="$index"
          >
            <div
              class="benfit-card tw-h-[250px] tw-overflow-hidden  tw-px-8 tw-rounded-xl hover:tw-shadow-sm tw-transition-all tw-flex tw-flex-col tw-gap-4 tw-text-start tw-text-secondary tw-border-2 tw-p-5"
            >
              <div
                class="_header tw-text-lg tw-tracking-wide	 tw-mt-5 tw-font-bold tw-transition-all tw-bg-secondary tw-text-primary tw-flex tw-items-center tw-justify-center tw-p-3 tw-rounded-sm  tw-px-5"
              >
                {{ benefit.title }}
              </div>
              <p class="tw-opacity-70 tw-text-base">
                {{ benefit.description }}
              </p>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </section>
</template>

<script lang="ts" setup>
import { SingleFeature } from "~~/assets/types/FeatureType";
// interface Props {
//   cardData: SingleFeature;
// }

const Props = defineProps(["cardData"]);

interface SingleItem {

  title: string;
  subtitle: string;
  features: string;
}

// const props = defineProps<Props>();
</script>

<style scoped lang="scss">
._header {
  clip-path: polygon(0% 0%, 100% 0, 100% 77%, 96% 100%, 0% 100%);
  margin-inline-start: 5px;
  margin-bottom: 0.5rem;
}
.benfit-card {
  &:hover {
    transform: scale(1.01);
    background-color: #d8d7d742;
    ._header {
      background-color: var(--primary);
      color: var(--accent);
    }
    p {
      opacity: 1;
    }
  }
}
</style>
