<template>
  <n-config-provider
    :theme="theme"
    :theme-overrides="theme === null ? lightThemeOverrides : darkThemeOverrides"
    :locale="locale === 'en' ? enUS : arDZ"
    :date-locale="locale === 'en' ? dateEnUS : dateArDZ"
    class="min-h-screen"
  >
    <n-theme-editor>
      <n-layout class="min-h-screen">
        <n-layout-content class="min-h-full">
          <ToolbarVue />

          <slot />
          <FooterVue />
        </n-layout-content>
      </n-layout>
    </n-theme-editor>
  </n-config-provider>
  <Transition name="fade">
    <template v-if="activeModal !== null">
      <authModal />
    </template>
  </Transition>
  <BacktopBtn />
</template>

<script setup lang="ts">
import useLangHandler from "~/composables/layout/useLangHandler";
import useAuthHandler from "~~/composables/authHandler";
// @ts-ignore
import ToolbarVue from "~~/components/website/shared/ToolbarVue.vue";
// @ts-ignore
import FooterVue from "~~/components/website/shared/FooterVue.vue";
// @ts-ignore
import authModal from "~/components/auth/index";
// @ts-ignore
import BacktopBtn from "~~/components/global/backTopBtn.vue";

import { NConfigProvider, GlobalThemeOverrides } from "naive-ui";
import { NThemeEditor } from "naive-ui";
import { enUS, arDZ, dateArDZ, dateEnUS } from "naive-ui";
const { locale, setlang } = useLangHandler();
const { activeModal } = useAuthHandler();


import useHomeHandler from "~~/composables/website/useHomeHandler";
const { state, fetchData } = useHomeHandler();

if (process.client) {
  fetchData();
}


const lightThemeOverrides = {
  common: {
    primaryColor: "#000000",
  },
  // ...
};

const darkThemeOverrides = {
  common: {
    primaryColor: "#FFFFFF",
  },
  // ...
};

const theme = { name: "dark" };

onMounted(() => {
  if (process.client) {
    const lang = localStorage.getItem("lang") || "en";
    setlang(lang);
  }
});
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
