<template>
  <BaseContainer class="tw-mt-36">
    <section class="tw-text-secondary tw-text-start tw-mb-12">
      <h1 class="tw-text-2xl tw-opacity-60 tw-mb-4">  {{ state.title }}  </h1>
      <h2 class="title tw-text-4xl tw-uppercase">  {{ state.title }}  </h2>
    </section>
    <section>
      <div
      v-html="state.body"
        class="tw-text-secondary tw-mb-10"
      >
 
      </div>
    </section>
  </BaseContainer>
</template>

<script setup>
import BaseContainer from "~~/components/global/BaseContainer.vue";
import usePrivacy from "~~/composables/website/usePrivacy";

const { state, fetchData } = usePrivacy();

fetchData();


// const paragraphs = [
//   {
//     title: "INTRODUCTION",
//     descs: [
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//     ],
//   },
//   {
//     title: "INTRODUCTION",
//     descs: [
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//     ],
//   },
//   {
//     title: "INTRODUCTION",
//     descs: [
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//       "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Aldus PageMaker including versions of Lorem Ipsum.",
//     ],
//   },
// ];
</script>

<style lang="scss" scoped></style>
