<template>
  <div class="tw-p-11  tw-bg-slate-400">
    <BaseButton
      color="secondary"
      variant="outlined"
      :borderWidth="1"
      class="tw-w-full"
    >
      <div
        class="text tw-flex tw-items-center tw-justify-center tw-gap-1 tw-text-xl tw-py-8"
      >
        <span> {{ t("website.btns.getStarted") }} </span>
        <div class="icon" style="transform: rotate(-45deg)">
          <n-icon :component="ArrowForwardOutline" color="inherit" size="15" />
        </div>
      </div>
    </BaseButton>
  </div>
</template>

<script lang="ts" setup>
import BaseButton from "~~/components/global/BaseButton.vue";
import useLangHandler from "~~/composables/layout/useLangHandler";
import { ArrowForwardOutline } from "@vicons/ionicons5";
const { t } = useLangHandler();
definePageMeta({
  layout: "auth",
});
const hi = () => {
  console.log("hi");
};
</script>

<style lang="scss"></style>
