<template>
  <div
    class="swiper-container-free-mode tw-py-6"
    style="direction: ltr; background: var(--secondary)"
  >
    <Swiper
      :modules="[SwiperAutoplay, SwiperFreeMode]"
      :slides-per-view="4"
      :loop="true"
      :speed="6000"
      :grab-cursor="true"
      :mousewheel="true"
      :keyboard="true"
      :free-mode="true"
      :update-on-window-resize="true"
      :autoplay="{
        delay: 0,
        disableOnInteraction: false,
        pauseOnMouseEnter: true,
      }"
      :breakpoints="{
        0: {
          spaceBetween: 30,
          slidesPerView: 1,
        },
        480: {
          spaceBetween: 30,
          slidesPerView: 2,
        },
        767: {
          spaceBetween: 40,
          slidesPerView: 3,
        },
        992: {
          spaceBetween: 40,
        },
      }"
    >
      <SwiperSlide
        class="swipperlist swiper-wrapper"
        v-for="(slide, index) in state"
        :key="index"
      >
        <div
          class="tw-mx-auto tw-max-w-sm tw-transition-all tw-opacity-80 hover:tw-opacity-100 tw-flex tw-items-center tw-justify-center"
        >
          <v-img
            :aspect-ratio="1"
            :src="slide.image"
            width="100"
            class="tw-h-fit"
            height="50"
            lazy-src="https://picsum.photos/id/11/100/60"
            contain
            :alt="slide.name "
          >
            <template v-slot:placeholder>
              <div class="d-flex align-center justify-center fill-height">
                <v-progress-circular
                  color="grey-lighten-4"
                  indeterminate
                ></v-progress-circular>
              </div>
            </template>
          </v-img>
        </div>
      </SwiperSlide>
    </Swiper>
  </div>
</template>

<script setup lang="ts">
const props = defineProps(["state"]);

interface SingleItem {
  id: number;
  name: string;
  image: string;
}

const sponsers: SingleItem[] = props.state;
</script>

<style lang="scss" scoped></style>
