<template>
  <v-container>
    <v-form
      ref="AuthForm"
      @submit="submit($event, activeModal === 'login' ? 'login' : 'register')"
    >
      <v-row>
        <v-col cols="12" md="12" v-if="activeModal === 'register'">
          <v-text-field
            label="Name"
            type="text"
            variant="underlined"
            density="comfortable"
            v-model="state.name"
            :error-messages="v$?.name.$errors.map((e) => e.$message)"
            @input="v$.name.$touch"
            @blur="v$.name.$touch"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="12">
          <v-text-field
            label="Email"
            type="email"
            variant="underlined"
            class="!tw-text-3xl"
            density="comfortable"
            v-model="state.email"
            :error-messages="v$?.email.$errors.map((e) => e.$message)"
            @input="v$.email.$touch"
            @blur="v$.email.$touch"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="12">
          <v-text-field
            density="comfortable"
            label="Password"
            :type="show ? 'text' : 'password'"
            variant="underlined"
            :append-inner-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append-inner="show = !show"
            v-model="state.password"
            :error-messages="v$?.password.$errors.map((e) => e.$message)"
            @input="v$.password.$touch"
            @blur="v$.password.$touch"
          ></v-text-field>
        </v-col>
        <div class="tw-flex tw-items-center tw-gap-10 tw-justify-start tw-px-3">
          <BaseButton
            :color="'primary'"
            :variant="'fill'"
            :width="170"
            :height="65"
            :borderWidth="1"
          >
            <div
              class="text tw-flex tw-items-center tw-py-2 tw-px-10 tw-font-bold tw-justify-center tw-gap-2 tw-text-xl tw-capitalize"
            >
              <span>
                {{
                  activeModal === "login"
                    ? t("website.btns.login")
                    : t("website.btns.getStarted")
                }}
              </span>
              <div class="icon  " style="transform: rotate(-45deg)">
                <n-icon
                  :component="ArrowForwardOutline"
                  color="inherit"
                  size="15"
                />
              </div>
            </div>
          </BaseButton>

          <span class="tw-text-base  tw-mt-5 tw-min-w-full" v-if="activeModal === 'login'" >

            


            <span> Forget password? </span>

            <span class="tw-text-gray-700"> click here ! </span>
          </span>
        </div>
      </v-row>
    </v-form>
  </v-container>
</template>

<script setup lang="ts">
import useAuthHandler from "~~/composables/authHandler";
import BaseButton from "../global/BaseButton.vue";
import { ArrowForwardOutline } from "@vicons/ionicons5";
import useLangHandler from "~~/composables/layout/useLangHandler";
const { t } = useLangHandler();

const { activeModal, closeModal, submit, state, v$, AuthForm } =
  useAuthHandler();

const show = ref(false);
</script>

<style lang="scss" scoped></style>
