<template>
  <div
    class="tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-bottom-0 tw-bg-[#000000e6] !tw-text-third tw-text-6xl tw-z-50 tw-overflow-x-hidden"
  >
    <div class="tw-flex tw-flex-col tw-gap-3 tw-h-full tw-p-5">
      <div
        class="toolbar tw-flex tw-items-center tw-justify-end tw-w-full"
        :class="loading ? ' tw-pointer-events-none' : ''"
      >
        <div
          @click="closeModal"
          class="tw-cursor-pointer tw-opacity-70 tw-transition-all hover:tw-opacity-100 tw-p-2"
        >
          <n-icon class="tw-text-4xl" :component="CloseSharp" color="inherit" />
        </div>
        <!-- <n-button >close</n-button> -->
      </div>
      <div
        class="form-container tw-flex tw-flex-col tw-items-center tw-justify-center tw-h-full"
      >
        <h2 class="tw-text-5x  title md:tw-text-6xl tw-mb-7 tw-uppercase tw-text-center">
          GET STARTED!
        </h2>
        <p
          class="tw-text-xl subtitle tw-opacity-60 tw-text-center tw-font-light tw-w-full tw-max-w-xl"
        >
          We will help a client's problems to develop the products they have
          with high quality Change the appearance.
        </p>
        <v-card
          :loading="loading"
          :disabled="loading"
          class="!tw-bg-[#1B1B1B] !tw-text-third !tw-rounded-2xl !tw-p-5 !tw-w-full !tw-max-w-xl !tw-mx-auto !tw-shadow-md !tw-my-7"
        >
          <AuthForm />
        </v-card>

        <h3
          class="tw-text-2xl   !tw-font-extralight subtitle"
          :class="loading ? ' tw-pointer-events-none' : ''"
          @click="openModal(activeModal === 'login' ? 'register' : 'login')"
        >
          {{
            activeModal === "login"
              ? "Not registered yet?"
              : "Already have account?"
          }}
          <span class="tw-text-primary  hover:tw-underline tw-cursor-pointer">
            {{ activeModal === "login" ? "Create an account" : "Login" }}
          </span>
        </h3>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import useAuthHandler from "~~/composables/authHandler";
import { CloseSharp } from "@vicons/ionicons5";
// @ts-ignore
import AuthForm from "./authForm.vue";
const { closeModal, activeModal, openModal, loading } = useAuthHandler();

const route = useRoute();
</script>

<style lang="scss" scoped></style>
