<template>
  <n-card
    class="sharedBlogCaseCard !tw-border-none hover:tw-shadow-md singleBlog tw-h-full tw-px-2 tw-py-3"
  >
    <template #cover>
      <div
        class="tw-h-[200px] tw-overflow-hidden"
        :class="isBlog && 'img-path'"
      >
        <n-image
          :src="cardData.image"
          :preview-disabled="true"
          :object-fit="'cover'"
          :lazy="true"
          :alt="`${cardData.title} ${cardData.description}`"
          :fallback-src="fallBack"
          class="tw-h-full !tw-w-full"
        />
      </div>
    </template>
    <div
      class="tw-flex tw-flex-col tw-items-start tw-text-secondary  tw-py-3"
    >
      <h3
        class="tw-text-sm tw-opacity-50 tw-mb-3 tw-mt-2 tw-capitalize tw-font-semibold"
      >
        {{ cardData.title }}
      </h3>
      <h5 class="tw-text-lg tw-uppercase title">{{ cardData.description }}</h5>
      <p class="tw-text-base tw-capitalize tw-font-semibold tw-mt-2 subtitle" v-html="cardData.body" >
    
      </p>
    </div>
  </n-card>
</template>

<script setup lang="ts">
// @ts-ignore
import fallBack from "~/assets/imgs/logo_mb.svg";
// import { SingleBlog } from "~~/assets/types/BlogsType";
interface BlogType {
  isBlog: false;
  cardData: any;
}
// const props = defineProps<>(["cardData", "isBlog"]);

const props = defineProps<BlogType>();
</script>

<style lang="scss">
.sharedBlogCaseCard {
  .n-card__content {
    padding: 0rem !important;
  }
  .img-path {
    clip-path: polygon(
      0% 0%,
      100% 0,
      100% calc(100% - 23px),
      calc(100% - 23px) 100%,
      0% 100%
    );
  }
  .subtitle {
    width: 100%;
    height: 100px;
    line-height: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }
}
</style>
