<template>
  <n-drawer
    v-model:show="show"
    :width="'100%'"
    placement="left"
    style="background: var(--accent)"
    class="drawer"
  >
    <n-drawer-content :native-scrollbar="false" :width="'100%'">
      <template #header>
        <div
          class="tw-flex tw-justify-between tw-items-center tw-text-primary"
          @click="toggledrawer"
        >
          <div class="tw-cursor-pointer">
            <n-icon
              class="tw-mx-1"
              :component="CloseOutline"
              color="inherit"
              size="50"
            />
          </div>
          <img :src="Logo_mb" />
        </div>
      </template>
      <ul>
        <li
          v-for="(link, index) in navs"
          :key="index"
          class="tw-flex tw-flex-col tw-items-start tw-justify-center tw-gap-4 tw-text-lg tw-mb-5 tw-text-third"
        >
          <template v-if="link.isDrop">
            <n-collapse
              default-expanded-names="1"
              accordion
              arrow-placement="right"
            >
              <n-collapse-item
                :title="link.title"
                name="1"
                class="tw-bg-accent tw-text-third tw-rounded-md tw-shadow-md !tw-border-b-2 !tw-border-[#cccccc2e] !tw-py-5"
              >
                <div
                  class="pb-4 tw-text-third tw-text-base tw-break-words tw-opacity-70"
                >
                  <ul>
                    <li
                      v-for="(item, index) in link.list"
                      :key="index"
                      class="tw-mb-3"
                      @click="toggledrawer"
                    >
                      <div class="tw-items-start tw-flex tw-flex-col tw-gap-3">
                        <h3
                          class="tw-text-third tw-opacity-50 tw-uppercase tw-text-lg tw-mb-3"
                        >
                          {{ item.title }}
                        </h3>
                        <nuxt-link
                          v-for="(subroute, index) in item.routes"
                          :key="index"
                          :to="subroute.to"
                          class="tw-flex tw-items-center tw-py-1 tw-opacity-70 tw-hover:opacity-100 navLink tw-w-full !tw-border-none tw-font-normal tw-transition-all tw-h-full tw-text-base tw-text-third"
                        >
                          <div class="icon">
                            <n-icon
                              class="tw-mx-1"
                              :component="subroute.icon"
                              color="inherit"
                              size="20"
                            />
                          </div>
                          <div class="info tw-text-lg tw-capitalize">
                            {{ subroute.name }}
                          </div>
                        </nuxt-link>
                        <div
                          class="tw-block tw-opacity-30 tw-w-[96%] tw-mx-auto"
                          style="border: 1px solid; border-style: dashed"
                        ></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </n-collapse-item>
            </n-collapse>
          </template>
          <template v-else>
            <nuxt-link
              :to="link.route"
              class="tw-flex tw-flex-1 tw-w-full tw-items-start !tw-py-5 !tw-border-b-2 !tw-border-[#cccccc2e] !tw-px-0 navLink tw-font-normal tw-transition-all tw-h-full"
              :class="[{ 'site-app-bar--active': $route.path == link.route }]"
              @click="toggledrawer"
            >
              {{ link.title }}
              <template v-if="link.icon !== null">
                <n-icon
                  class="tw-mx-1"
                  :component="link.icon"
                  color="inherit"
                  size="15"
                />
              </template>
            </nuxt-link>
          </template>
          <!-- <hr class="tw-w-full tw-flex-1" style="border-color: #cccccc2e" /> -->
        </li>
      </ul>
    </n-drawer-content>
  </n-drawer>
</template>

<script>
import Logo_mb from "~/assets/imgs/logo_mb.svg";
import NavLinks from "./btns/NavLinks.vue";
import { CloseOutline, ChevronDown, Balloon } from "@vicons/ionicons5";
import useLangHandler from "~~/composables/layout/useLangHandler";
export default {
  components: {
    NavLinks,
  },
  data() {
    return {
      show: false,
      Logo_mb,
      CloseOutline,
      Balloon,
      navs: [
        {
          route: "/feature",
          title: this.t("website.toolbar.feature"),
          icon: ChevronDown,
          isDrop: true,
          list: [
            {
              title: "client management",
              routes: [
                {
                  name: "diet",
                  to: "/s",
                  icon: Balloon,
                },
                {
                  name: "workout",
                  to: "/s",
                  icon: Balloon,
                },
                {
                  name: "circles",
                  to: "/s",
                  icon: Balloon,
                },
              ],
            },
            {
              title: "client management",
              routes: [
                {
                  name: "diet",
                  to: "/s",
                  icon: Balloon,
                },
                {
                  name: "workout",
                  to: "/s",
                  icon: Balloon,
                },
                {
                  name: "circles",
                  to: "/s",
                  icon: Balloon,
                },
              ],
            },
          ],
        },
        {
          route: "/case-studies",
          title: this.t("website.toolbar.caseStudies"),
          icon: null,
          isDrop: false,
        },
        {
          route: "/pricing",
          title: this.t("website.toolbar.pricing"),
          icon: null,
          isDrop: false,
        },
        {
          route: "/blogs",
          title: this.t("website.toolbar.blogs"),
          icon: null,
          isDrop: false,
        },
        {
          route: "/aboutus",
          title: this.t("website.toolbar.aboutus"),
          icon: null,
          isDrop: false,
        },
        {
          route: "/contactus",
          title: this.t("website.toolbar.contactus"),
          icon: null,
          isDrop: false,
        },
      ],
    };
  },
  methods: {
    toggledrawer() {
      this.show = !this.show;
    },
    t(args) {
      const { t } = useLangHandler();
      return t(args);
    },
  },
};
</script>

<style lang="scss">
.drawer {
  .n-drawer-header {
    padding: 1rem 1.1rem !important;
    border-bottom: none !important;
  }
  .n-drawer-header__main {
    width: 100%;
  }
  .n-collapse-item__header-main {
    color: var(--third) !important;
    font-weight: 500 !important;
    font-size: 16px;
    justify-content: space-between;
    .n-collapse-item-arrow {
      color: var(--third) !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
