<template>
  <section class="tw-py-8 tw-pb-36   tw-mx-32  faqs">
    <bs-container>
      <h2 class="tw-uppercase title title-style tw-mt-8 tw-pt-8">
        {{ t("website.faqs") }}
      </h2>
      <n-collapse
        :default-expanded-names="'1'"
        accordion
        arrow-placement="right"
      >
        <n-collapse-item
          v-for="(item, i) in faqs"
          :key="i"
          :title="item.question"
          :name="`${i + 1}`"
          class="tw-bg-third tw-rounded-xl tw-border-2"
        >
          <div
            class="tw-px-6 tw-pb-4 tw-text-secondary tw-text-lg tw-break-words tw-opacity-70"
          >
            {{ item.answer }}
          </div>
        </n-collapse-item>
      </n-collapse>
    </bs-container>
  </section>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";

import useLangHandler from "~~/composables/layout/useLangHandler";
const { t } = useLangHandler();
interface FAQs {
  faqs: SFaqs[];
}
interface SFaqs {
  id: number;
  question: string;
  answer: string;
}

const props = defineProps<FAQs>();
</script>

<style lang="scss">
.faqs {
  .n-collapse-item--active {
    box-shadow: 0px 0px 0px 2px #000 !important;
    .n-collapse-item-arrow {
      background-color: var(--primary);
    }
  }
  .n-collapse-item__header {
    padding: 0rem !important;
  }
  .n-collapse-item__header-main {
    padding: 1.3rem 1.5rem;
    font-weight: 500 !important;
    font-size: 1.5rem;
    justify-content: space-between;
    .n-collapse-item-arrow {
      box-shadow: 0 1px 8px 0px rgb(0 0 0 / 10%);
      border-radius: 30rem;
      padding: 4px;
      font-size: 2rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
