<template>
  <footer class="tw-bg-accent tw-text-third tw-pt-32 tw-pb-4">
    <bs-container>
      <n-grid cols="1 400:2 600:5">
        <n-grid-item class="p-2" span="2">
          <div
            class="tw-flex tw-flex-col tw-items-start tw-justify-between tw-mb-5 tw-h-full"
          >
            <div class="logo tw-w-full">
              <img
                :src="state.setting.logo"
                alt="fitexpert logo website logo"
                class="tw-w-full tw-my-4 md:tw-my-0 tw-object-cover tw-max-w-sm"
              />
            </div>
            <div class="tw-text-bg tw-hidden md:tw-block">
              <h2 class="tw-text-3xl tw-mb-3 tw-opacity-80 tw-mt-7">
                {{ state.setting.phone }}
              </h2>
              <h6 class="tw-text-sm tw-opacity-80">
                {{ state.setting.email }}
              </h6>
              <h6 class="tw-text-sm tw-opacity-80 md:tw-hidden">
                {{ state.setting.address }}
              </h6>
            </div>
          </div>
        </n-grid-item>
        <n-grid-item class="tw-px-2">
          <div class="tw-flex tw-flex-col tw-items-start tw-justify-between">
            <ul class="tw-w-full tw-capitalize tw-text-lg">
              <li class="tw-text-primary tw-mb-2 tw-text-xl">
                {{ aboutRoute.heading }}
              </li>
              <li
                v-for="(item, i) in aboutRoute.routes"
                :key="i"
                class="tw-mb-2 tw-capitalize tw-font-extralight footerLink"
              >
                <nuxt-link
                  :to="
                    item.featureRoute
                      ? { name: 'feature-slug', params: { slug: item.route } }
                      : item.route
                  "
                  class="tw-text-third tw-transition-all hover:tw-text-primary"
                  >{{ item.title }}</nuxt-link
                >
              </li>
            </ul>
          </div>
        </n-grid-item>
        <n-grid-item class="tw-px-2">
          <div class="tw-flex tw-flex-col tw-items-start tw-justify-between">
            <ul class="tw-w-full tw-capitalize tw-text-lg">
              <li class="tw-text-primary tw-mb-2 tw-uppercase tw-text-xl">
                {{ featureRoute.heading }}
              </li>
              <li
                v-for="(item, i) in featureRoute.routes"
                :key="i"
                class="tw-mb-2 tw-capitalize footerLink"
              >
                <nuxt-link
                  :to="{ name: 'feature-slug', params: { slug: item.route } }"
                  class="tw-text-third tw-transition-all hover:tw-text-primary"
                  >{{ item.title }}</nuxt-link
                >
              </li>
            </ul>
          </div>
        </n-grid-item>
        <n-grid-item class="tw-px-2">
          <div class="tw-flex tw-flex-col tw-items-start tw-justify-between">
            <ul class="tw-w-full tw-capitalize tw-text-lg">
              <li class="tw-text-primary tw-mb-2 tw-uppercase tw-text-xl">
                {{ socialRoute.heading }}
              </li>
              <li
                v-for="(item, i) in socialRoute.routes"
                :key="i"
                class="tw-mb-2 tw-capitalize footerLink"
              >
                <a
                  :href="item.route"
                  target="_blank"
                  class="tw-text-third tw-transition-all hover:tw-text-primary"
                  >{{ item.title }}</a
                >
              </li>
            </ul>
          </div>
        </n-grid-item>

        <n-grid-item class="tw-py-2" span="5">
          <div class="tw-text-bg tw-mb-4 md:tw-hidden">
            <h2 class="tw-text-3xl tw-mb-3 tw-opacity-80 tw-mt-7">
              {{ state.setting.phone }}
            </h2>
            <h6 class="tw-text-sm tw-opacity-80 tw-mb-1">
              {{ state.setting.email }}
            </h6>
            <h6 class="tw-text-sm tw-opacity-80">
              {{ state.setting.address }}
            </h6>
          </div>
          <div class="tw-flex tw-items-center tw-justify-around">
            <h6
              class="tw-text-sm tw-opacity-50 tw-hidden md:tw-block tw-flex-[0.4]"
            >
              {{ state.setting.address }}
            </h6>
            <div
              class="tw-flex tw-justify-center tw-mt-8 tw-text-gray-400 tw-text-sm tw-text-bg tw-flex-1 md:tw-flex-[0.6] md:tw-justify-start"
            >
              FITXPERT © {{ new Date().getFullYear() }} All copyrights reserved.
            </div>
          </div>
        </n-grid-item>
      </n-grid>
    </bs-container>
  </footer>
</template>

<script setup lang="ts">
import BsContainer from "~~/components/global/BaseContainer.vue";

// import Logo from "~/assets/imgs/Logo.svg";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";

import useHomeHandler from "~~/composables/website/useHomeHandler";
const { state } = useHomeHandler();

interface SingleItem {
  id: number;
  logo: string;
  phone: number;
  address: string;
  email: string;
  facebook: string;
  twitter: string;
  instagram: string;
  linkedin: string;
  home_hero_section_text: string;
  home_hero_section_video: string;
  join_us_text: string;
}
// const setting: SingleItem[] = state;

const { t } = useLangHandler();

const aboutRoute = computed(() => {
  return {
    heading: t("website.toolbar.about"),
    routes: [
      {
        title: t("website.toolbar.overView"),
        route: "/",
      },
      {
        title: t("website.toolbar.feature"),
        route: "all",
        featureRoute: true,
      },
      {
        title: t("website.toolbar.support"),
        route: "/contactus",
      },
      {
        title: t("website.toolbar.pricing"),
        route: "/pricing",
      },
      {
        title: t("website.toolbar.terms"),
        route: "/terms",
      },
      {
        title: t("website.toolbar.privacy"),
        route: "/privacy",
      },
    ],
  };
});
const featureRoute = computed(() => {
  return {
    heading: t("website.toolbar.feature"),
    routes: [
      {
        title: t("website.toolbar.clientManage"),
        route: "ali",
      },
      {
        title: t("website.toolbar.clientManage"),
        route: "management",
      },
      {
        title: t("website.toolbar.business"),
        route: "slug",
      },
    ],
  };
});
const socialRoute = computed(() => {
  return {
    heading: t("website.social.social"),
    routes: [
      {
        title: t("website.social.facebook"),

        route: state.setting.facebook,
      },
      {
        title: t("website.social.twitter"),
        route: state.setting.twitter,
      },
      {
        title: t("website.social.insta"),
        route: state.setting.instagram,
      },
      {
        title: t("website.social.linkedin"),
        route: state.setting.linkedin,
      },
    ],
  };
});
</script>

<style scoped lang="scss">

.footerLink {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  .router-link-exact-active {
    color: var(--primary);
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 2px;
      width: 5%;
      background-color: var(--primary);
    }
  }
}
</style>
