<template>
  <div
    class="tw-mx-auto tw-z-20 tw-bg-transparent tw-fixed tw-top-0 tw-left-0 tw-w-full tw-transition-all"
    :class="[
      { '--scroll': scrollPosition > 50 },
      {
        '!tw-bg-accent': [
          'blogs-id',
          'pricing',
          'case-studies-id',
          'terms',
          'privacy',
          'feature-slug',
        ].includes(route.name),
      },
    ]"
  >
  <BaseContainer>
  
    <nav
      class="tw-h-full tw-flex tw-transition-all !tw-py-0  tw-border-b tw-border-[rgba(var(--third-rgb),0.1)] tw-justify-between tw-items-stretch tw-min-h-[84px]"
    >
      <div
        class="tw-w-sm tw-flex-[0.5] lg:tw-flex-[0.2] tw-flex tw-items-center tw-cursor-pointer tw-min-w-[230px]"
        @click="goHome"
      >
        <div class="tw-w-sm tw-h-8 tw-flex tw-items-center tw-justify-start">
          <img
            :src="Logo"
            alt="fitexpert logo website logo "
            class="tw-w-full tw-object-cover tw-hidden md:tw-block tw-max-w-[200px]"
          />
          <img
            :src="Logo_mb"
            alt="fitexpert logo website logo "
            class="tw-w-full tw-object-cover tw-block md:tw-hidden tw-max-w-[200px]"
          />
        </div>
      </div>
      <div class="tw-w-full tw-flex-[0.6] tw-hidden lg:tw-block">
        <NavLinks />
      </div>
      <div
        class="tw-w-full tw-flex tw-items-center tw-justify-end tw-flex-[0.5] lg:tw-flex-[0.2]"
      >
        <NavTools class="tw-hidden lg:tw-flex" />
        <div
          class="drawer-btn tw-cursor-pointer tw-flex tw-items-center tw-justify-end lg:tw-hidden"
        >
          <n-icon
            :component="MenuOutline"
            color="var(--primary)"
            size="40"
            @click="toggleSidemenu"
          />
        </div>
      </div>
    </nav>
  </BaseContainer>
  </div>
  <DrawerVue ref="drawer" />
</template>
<script setup>
import { ref } from "vue";
import NavLinks from "./btns/NavLinks.vue";
import NavTools from "./btns/NavTools.vue";
import DrawerVue from "./DrawerVue.vue";
import { MenuOutline } from "@vicons/ionicons5";
import Logo from "~/assets/imgs/Logo.svg";
import Logo_mb from "~/assets/imgs/logo_mb.svg";
import BaseContainer from '~~/components/global/BaseContainer'
const router = useRouter();
const route = useRoute();
const drawer = ref(null);
const scrollPosition = ref(null);
const toggleSidemenu = () => {
  drawer.value.toggledrawer();
};
const goHome = () => {
  router.push("/");
};
onMounted(() => {
  window.addEventListener("scroll", () => {
    scrollPosition.value = window.scrollY;
  });
});
</script>
<style lang="scss" scoped>
.--scroll {
  background-color: rgba(var(--secondary-rgb), 0.9);
  backdrop-filter: blur(2px);
}
.--scroll nav {
  min-height: 70px !important;
  //backdrop-filter: blur(2px);
}
</style>
