<template>
  <button class="tw-shadow-lg tw-transition-all" :class="{ '--scroll': scrollPosition > 150 }" @click="scrollTop">
    <svg
      width="20px"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14 5l7 7m0 0l-7 7m7-7H3"
      ></path>
    </svg>
  </button>
</template>

<script setup lang="ts">
const scrollPosition = ref(0);
const scrollTop = () => {
  window.scrollTo(0, 0);
};
onMounted(() => {
  window.addEventListener("scroll", () => {
    scrollPosition.value = window.scrollY;
  });
});
</script>

<style scoped lang="scss">
button {
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 44;
  background: var(--secondary);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  color: var(--third);
  opacity: 0;
  pointer-events: none;
  &.--scroll {
    opacity: 1;
    bottom: 10px;
    pointer-events: all;
  }
  svg {
    transform: rotate(-90deg);
  }
}

</style>
