<template>
  <div class="tw-w-full tw-flex">
    <div
      class="btn-container"
      :data-color="props.color"
      :data-variant="props.variant"
      v-bind="$attrs"
    >
      <button class="tw-min-w-full flex">
        <slot />
        <div
          class="_border left"
          :style="{ width: `${borderWidth}px`, background: `var(--${color})` }"
        ></div>
        <div
          class="_border right"
          :style="{ width: `${borderWidth}px`, background: `var(--${color})` }"
        ></div>
        <div
          class="_border top"
          :style="{ height: `${borderWidth}px`, background: `var(--${color})` }"
        ></div>
        <div
          class="_border bottom"
          :style="{ height: `${borderWidth}px`, background: `var(--${color})` }"
        ></div>
      </button>
      <div class="tringle">
        <div class="border" :style="{ width: `${borderWidth}px` }"></div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
export default defineComponent({
  inheritAttrs: false,
});
</script>
<script lang="ts" setup>
interface Props {
  borderWidth: number;
  variant: "fill" | "outlined";
  color: "primary" | "secondary";
}
// @ts-ignore
const props = defineProps<Props>();
</script>

<style lang="scss" scoped>
.btn-container {
  position: relative;
  .tringle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: transparent;
    z-index: 7;
    overflow: hidden;
    pointer-events: none;
    .border {
      width: 1px;
      background: inherit;
      height: 26px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      top: 50%;
      border: none !important;
    }
  }
  button {
    font-style: normal;
    -webkit-clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      0 0,
      100% 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 100%
    );
    min-height: 40px;
    transition: 0.2s 0.1s;
    overflow: hidden;
    border-style: unset;
    position: relative;
    ._border {
      position: absolute;
      height: 100%;
      &.left {
        top: 0;
        left: 0;
        height: 100%;
      }
      &.right {
        top: 0;
        right: 0;
        height: 100%;
      }
      &.top {
        top: 0;
        right: 0;
        width: 100%;
      }
      &.bottom {
        bottom: 0;
        right: 0;
        width: 100%;
      }
    }
  }
  &[data-color="primary"] {
    &[data-variant="fill"] {
      button {
        color: var(--secondary);
        background: var(--primary);
        border-color: var(--primary);
      }
      .tringle {
        .border {
          background: var(--primary);
        }
      }
      &:hover {
        button {
          color: var(--primary);
          background: transparent;

        }
      }
    }

    &[data-variant="outlined"] {
      button {
        color: var(--primary);
        border-color: var(--primary);
        background: transparent;
      }
      .tringle {
        .border {
          background: var(--primary);
        }
      }
    }
  }
  &[data-color="secondary"] {
    &[data-variant="fill"] {
      button {
        color: var(--primary);
        border-color: var(--secondary);
        background: var(--secondary);
      }
      .tringle {
        .border {
          background: var(--secondary);
        }
      }
      &:hover {
        button {
          color: var(--secondary);
          background: transparent;
        }
        .tringle {
          .border {
            background: var(--secondary);
          }
        }
      }
    }

    &[data-variant="outlined"] {
      button {
        color: var(--secondary);
        border-color: var(--secondary);
      }
      .tringle {
        .border {
          background: var(--secondary);
        }
      }
    }
  }
}
</style>
