<template>
  <section class="tw-text-center tw-text-secondary">
    <h2 class="tw-text-4xl md:tw-text-5xl tw-uppercase tw-mb-8 title">
      Compare plan & features
    </h2>
    <div
      class="tw-container feature_container tw-overflow-x-scroll md:tw-overflow-hidden !tw-p-1 md:!tw-p-3"
    >
      <n-table striped :bordered="false" :single-line="true">
        <thead>
          <tr class="tw-text-center ">
            <th class=" tw-text-xl !tw-font-bold tw-bg-transparent">Category</th>
            <th class=" tw-text-xl tw-opacity-60 !tw-font-bold tw-bg-transparent">Grow plus</th>
            <th class=" tw-text-xl  tw-opacity-60 !tw-font-bold tw-bg-transparent">BUSINESS PLAN</th>
            <th class=" tw-text-xl  tw-opacity-60 !tw-font-bold tw-bg-transparent">BASIC PLAN</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in features" :key="i" class="tw-text-center tw-text-xl tw-bg-transparent">
            <td class="tw-opacity-80  ">{{ item.name }}</td>
            <td>
              <n-icon
                :component="CheckmarkDone"
                v-if="item.plus"
                color="var(--secondary)"
                size="30"
                class="tw-opacity-60"
              />
              <n-icon
                :component="CloseSharp"
                v-else
                color="var(--secondary)"
                size="30"
                class="tw-opacity-60"
              />
            </td>
            <td>
              <n-icon
                :component="CheckmarkDone"
                v-if="item.busi"
                color="var(--secondary)"
                size="30"
                class="tw-opacity-60"
              />
              <n-icon
                :component="CloseSharp"
                v-else
                color="var(--secondary)"
                size="30"
                class="tw-opacity-60"
              />
            </td>
            <td>
              <n-icon
                :component="CheckmarkDone"
                v-if="item.basic"
                color="var(--secondary)"
                size="30"
                class="tw-opacity-60"
              />
              <n-icon
                :component="CloseSharp"
                v-else
                color="var(--secondary)"
                size="30"
                class="tw-opacity-60"
              />
            </td>
          </tr>
        </tbody>
      </n-table>
    </div>
  </section>
</template>

<script setup>
import { CheckmarkDone, CloseSharp } from "@vicons/ionicons5";
import BaseContainer from "~~/components/global/BaseContainer.vue";

const features = [
  {
    name: "Feature 1",
    plus: true,
    busi: false,
    basic: true,
  },
  {
    name: "Feature 1",
    plus: true,
    busi: true,
    basic: true,
  },
  {
    name: "Feature 1",
    plus: true,
    busi: false,
    basic: true,
  },
];
</script>

<style lang="scss" scoped>
.feature_container{
  td,th{
    border-bottom: 2px dashed #ccc;
    background-color: transparent !important;
  }
}
</style>
