<template>
  <section
    class="tw-mt-[10rem] tw-flex tw-flex-col tw-items-center tw-justify-center tw-text-secondary tw-max-w-full md:tw-max-w-4xl tw-mx-auto tw-text-center"
  >
    <h2 class="tw-text-3xl md:tw-text-5xl tw-uppercase tw-mb-4 title">
      Pricing That Suits Your Needs
    </h2>
    <p class="tw-opacity-70 md:tw-max-w-xl tw-text-base">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's.
    </p>
  </section>
  <plans />
  <CampFeature class="!tw-my-36" />
  <Transform  class="!tw-my-36" />
  <section class="tw-bg-[#F0F0F0] tw-rounded-t-[2rem] tw-mt-5">
    <Faqs :faqs="state.faqs" />

    <JoinUs />
  </section>
</template>

<script setup lang="ts">
import plans from "./plans.vue";
import Transform from "./transform.vue";
import JoinUs from "../landingpage/joinUs.vue";
import Faqs from "~/components/website/shared/FAQs.vue";
import CampFeature from "./CampFeature.vue";

import useHomeHandler from "~~/composables/website/useHomeHandler";

const {state} = useHomeHandler()

const faqs = [
  {
    q: "What is fitexpert software?s",
    a:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    q: "What is fitexpert software?",
    a:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    q: "What is fitexpert software?",
    a:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
  {
    q: "What is fitexpert software?",
    a:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  },
];
</script>

<style lang="scss" scoped></style>
