<template>
  <div
    class="tw-rounded-xl tw-text-start tw-text-secondary card tw-bg-white tw-shadow-lg tw-my-4 tw-p-6 tw-h-full tw-max-w-lg tw-mx-auto md:tw-max-w-2xl md:tw-scale-90"
    :class="{ active: cardData.title == 'Busıness plan' }"
    style="border: 1px solid #e6e6e6"
  >
    <h1 class="title tw-uppercase tw-text-1xl tw-mb-3">
      {{ cardData.title }}
    </h1>
    <div class="price tw-flex tw-items-center tw-justify-start tw-gap-4 tw-mb-3">
      <span class="tw-text-4xl tw-font-bold"> ${{ cardData.amount.paid }}</span>
      <span
        class="tw-text-1xl tw-h-fit"
        style="border-left: 1px solid #ccc; padding-inline-start: 0.7rem"
      >
        {{ cardData.amount.per }}
      </span>
    </div>
    <p class="tw-break-words tw-text-md tw-opacity-90 tw-mb-3 tw-font-light">
      {{ cardData.desc }}
    </p>
    <div class="plan-select tw-mb-3">
      <n-select
        v-model:value="value"
        :options="cardData.options"
        :theme-overrides="selectTheme"
      />
    </div>
    <div class="getStartedbtn tw-mb-3">
      <BaseButton
        class="tw-capitalize tw-px-4 !tw-w-full tw-text-xl"
        width="100%"
        :class="
          cardData.title == 'Busıness plan'
            ? ' tw-bg-primary tw-text-accent'
            : 'tw-bg-accent tw-text-primary'
        "
      >
        <div class="text tw-flex tw-items-center tw-justify-center tw-gap-5 tw-text-1xl">
          <span> {{ t("website.btns.getStarted") }} </span>
          <div class="icon" style="transform: rotate(-45deg)">
            <n-icon
              :component="ArrowForwardOutline"
              color="inherit"
              size="15"
            />
          </div>
        </div>
      </BaseButton>
    </div>
    <div class="penfits">
      <ul>
        <li
          v-for="(item, index) in cardData.offered"
          :key="index"
          class="tw-flex tw-items-center tw-justify-start tw-gap-2 tw-mb-3"
        >
          <span>
            <n-icon
              :component="CheckmarkDone"
              color="var(--secondary)"
              size="15"
            />
          </span>
          <span>
            {{ item }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
import { ArrowForwardOutline, CheckmarkDone } from "@vicons/ionicons5";
import BaseButton from "~~/components/global/BaseButton.vue";
import useLangHandler from "~/composables/layout/useLangHandler";
const props = defineProps(["cardData"]);
const value = ref(1);
const { t } = useLangHandler();

const selectTheme = computed(() => {
  let colorOne = "#FFFFFF";
  let colorTwo = "#07090d";
  let colorThree = "#fff000";
  const selectThemeOverrides = {
    menuBoxShadow:
      "0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03)",
    peers: {
      InternalSelection: {
        textColor: colorOne,
        heightMedium: "50px",
        arrowColor: colorOne,
        arrowSize: "20px",
        colorActive: colorTwo,
        color: colorTwo,
        borderRadius: "10px",
        borderActive: colorThree,
        CheckmarkDone: colorThree,
        border: "2px solid #2f3442",
        boxShadowActive: "0px 0px 1px 3px #fff000",
        boxShadowHover: "0px 0px 1px 1px #fff000",
      },
      InternalSelectMenu: {
        // borderRadius: "6px",
        color: colorTwo,
        optionCheckColor: colorThree,
        // optionTextColor: "#0000",
        // actionTextColor: "#0000",
        optionTextColor: colorOne,
        optionTextColorActive: colorThree,
        groupHeaderTextColor: "#000",
        actionDividerColor: "#000",
        optionColorPending: "#2f3442",
        optionColorActive: colorTwo,
        optionColorActivePending: colorTwo,
      },
    },
  };
  if (props.cardData.title == "Busıness plan") {
    return selectThemeOverrides;
  } else {
    return selectThemeOverrides;
  }
});
</script>

<style scoped lang="scss">
.card {
  &.active {
    transform: scale(1);
    background: var(--secondary);
    color: var(--third);

    .title {
      color: var(--primary);
    }
    p {
      opacity: 0.6;
    }
    .penfits {
      i {
        color: var(--primary) !important;
      }
    }
  }
}
</style>
