<template>
  <section class="transofrmation tw-mx-14 tw-mt-10">
    <BaseContainer>
      <div
        class="tw-flex tw-flex-col tw-gap-4 md:tw-gap-4 md:tw-flex-row tw-flex-wrap tw-items-stretch tw-p-3"
      >
        <div
          class="info tw-flex-1 tw-flex tw-items-center tw-gap-7 md:tw-items-start tw-flex-col tw-text-center md:tw-text-start"
        >
          <h2
            class="tw-text-4xl !tw-leading-tight md:tw-text-4xl tw-text-secondary title tw-font-semibold tw-uppercase tw-mt-3"
          >
            We'll help digitally transform your business.
          </h2>
          <p
            class="tw-text-xl !tw-leading-8 md:tw-text-xl tw-text-secondary tw-opacity-60 tw-mt-2"
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s.
          </p>
          <div class="tw-mt-5 tw-hidden md:tw-block">
            <BaseButton
              :color="'secondary'"
              :variant="'fill'"
              :width="180"
              :height="65"
              :borderWidth="1"
            >
              <div
                class="text tw-flex tw-items-center tw-px-10 tw-py-3 tw-justify-center tw-gap-1 tw-text-xl"
              >
                <span> {{ t("website.btns.showMore") }} </span>
                <div class="icon" style="transform: rotate(-45deg)">
                  <n-icon
                    :component="ArrowForwardOutline"
                    color="inherit"
                    size="15"
                  />
                </div>
              </div>
            </BaseButton>
          </div>
        </div>
        <div class="img tw-flex-1">
          <div class="img-container tw-h-[200px] md:tw-h-[490px] tw-relative">
            <v-img
              :src="BlogImg"
              :aspect-ratio="1"
              cover
              width="100%"
              max-height="350"
              class="tw-object-cover tw-absolute tw-top-0 tw-left-0 tw-right-0 tw-bottom-0 tw-w-full tw-h-full"
            />
          </div>
        </div>
        <div class="tw-mt-auto md:tw-hidden">
          <BaseButton
            :color="'secondary'"
            :variant="'fill'"
            :width="180"
            :height="65"
            :borderWidth="1"
          >
            <div
              class="text tw-flex tw-items-center tw-px-5 tw-justify-center tw-gap-1 tw-text-xl"
            >
              <span> {{ t("website.btns.showMore") }} </span>
              <div class="icon" style="transform: rotate(-45deg)">
                <n-icon
                  :component="ArrowForwardOutline"
                  color="inherit"
                  size="15"
                />
              </div>
            </div>
          </BaseButton>
        </div>
      </div>
    </BaseContainer>
  </section>
</template>

<script setup>
import BlogImg from "~/assets/imgs/blogs/blog_img.png";
import fallBack from "~/assets/imgs/logo_mb.svg";
// @ts-ignore
import BaseButton from "~~/components/global/BaseButton.vue";
// @ts-ignore
import { ArrowForwardOutline } from "@vicons/ionicons5";
// @ts-ignore
import useLangHandler from "~/composables/layout/useLangHandler";
import BaseContainer from "~~/components/global/BaseContainer.vue";

const { t } = useLangHandler();
</script>

<style scoped lang="scss">
.img-container {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0 100%, 0 15%);
}
</style>
